[2015-03-06 20:44] mathetos opened #1 "Test Bug"
ENVIRONMENT:
Windows 8.1, Chrome 40+, Local (DesktopServer)
[code]
GENERAL FEEDBACK:
This plugin ROCKS! Thanks!
[code]

[2015-03-06 21:21] mathetos opened #2 "Yet Another Bug"
ENVIRONMENT:
Environment description
___________________________________________

BUGS:
Bugs description
___________________________________________

SCREENSHOTS:
http://give.dev/wp-content/uploads/gravity_forms/1-75bee201f86844b8699cd129b95c902e/2015/03/google-places-full-width.jpg
___________________________________________

GENERAL FEEDBACK:
General Feedback text...

[2015-03-06 21:51] mathetos opened #3 "Feature Request"
ENVIRONMENT:

__________________________________________
FEATURE REQUESTS:
Make it Pink!
__________________________________________
GENERAL FEEDBACK:
Love it!

[2015-03-08 20:23] #1 closed

[2015-03-08 20:23] #2 closed

[2015-03-08 20:23] #3 closed

[2015-03-10 02:52] mathetos opened #4 "Auto Scroll"
When you add a new donation level, it scrolls up the screen slowly (possibly a CMB2 bug).

[2015-03-10 02:52] mathetos opened #5 "Add New Form Category link doesn't work"
Add New Form Category link doesn't work

[2015-03-10 02:53] mathetos opened #6 "No Editor Toolbar in Visual Mode"
WYSIWYG doesn't have full toolbar when in Visual mode. So no Content or Terms of Service available.

[2015-03-10 02:53] mathetos opened #7 "Admin-footer.php Fatal Error"
Maybe this is what's creating some bugs: Fatal error: Call to undefined function wc_enqueue_js() in E:\give.dev\wp-content\plugins\Give-master\includes\admin\admin-footer.php on line 30

[2015-03-10 03:21] DevinWalker commented on #6
@mathetos is this just on the give form post type or all of them? A screenshot may help me to reproduce

[2015-03-10 05:04] DevinWalker commented on #7
Looks like that function was improperly brought over when forking the footer code. I've reworked the enqueue process and it should work fine now as of the previous commit.

[2015-03-10 05:04] #7 closed

[2015-03-10 05:05] DevinWalker commented on #6
This is probably due to the JS error in #7 - can you try pulling the latest version and testing again to confirm?

[2015-03-10 05:05] DevinWalker commented on #5
Again, most likely due to #7

[2015-03-10 05:07] DevinWalker commented on #4
Yeah I thought CMB2 had removed this feature but apparently not yet... I'll see what I can do to prevent this from happening

[2015-03-10 05:17] #4 closed

[2015-03-11 01:20] DevinWalker opened #8 "Logs: Fix Dropdown Filter"
The form filter doesn't work under Give > Reports > Logs as it should. Upon clicking Apply it simply refreshes the page without respecting the selection.

[2015-03-11 03:05] DevinWalker opened #9 "Dashboard Widget: PHP Warning with date"

[2015-03-11 03:05] DevinWalker commented on #9
Upon first visit to dashboard widget there display a PHP Warning: date() expects parameter 2 to be long, string given in

[2015-03-11 19:15] DevinWalker opened #10 "Fix Gulp Sourcemaps Generation Bug"
Something is messing up source map generation:

[code]

[2015-03-11 19:37] mathetos opened #11 "Add an Add-ons Tab to Welcome page"
This would just redirect to the Add-ons settings page.

[2015-03-11 19:38] mathetos opened #12 "Write "Getting Started" content"
This needs to point the user to the quickest way to get a form up and running, then a few other select links/buttons to see other features of Give.

[2015-03-11 20:35] DevinWalker opened #13 "Add ability to toggle on/off stylesheet"
Under Settings > Display Options create the ability to turn on/off CSS

[2015-03-11 20:48] #13 closed

[2015-03-12 00:21] DevinWalker opened #14 "Broken Column Links to Reports"
These column have broken links:

![broken-links](https://cloud.githubusercontent.com/assets/1571635/6609752/0daf635a-c813-11e4-98d8-3849bafce804.png)

[2015-03-12 00:22] DevinWalker commented on #14
Related to #8

[2015-03-12 00:52] DevinWalker commented on #6
@mathetos closing this out - should be fixed now

[2015-03-12 00:52] #6 closed

[2015-03-12 00:52] DevinWalker commented on #5
Closing this out - likely fixed

[2015-03-12 01:11] mathetos commented on #5
No, just tested again with the latest commit. Now the link to add a category doesn't even appear. See here:
![no-add-category-link](https://cloud.githubusercontent.com/assets/930724/6610251/e181aade-c819-11e4-8316-731a3890a064.png)

It throws the following error in admin-forms.min.js:
`Uncaught ReferenceError: handle_status_switch is not defined`

No other plugins active at all. WP 4.1.1, running

[2015-03-12 01:27] #11 closed

[2015-03-12 01:38] mathetos opened #15 "Metabox order"
The default "Author" and "Excerpt" metaboxes should appear at the very end of the page if possible.
![metabox-order](https://cloud.githubusercontent.com/assets/930724/6610531/cc42cd7a-c81d-11e4-95fb-95c1f8236af7.png)

[2015-03-12 01:39] mathetos commented on #15
I wonder if it's better to just keep all Form creation metaboxes together in one box? Or maybe that would make it hard for Add-ons to extend that capability in the future. Still, needs some concerted thought.

[2015-03-12 03:03] DevinWalker commented on #15
Yeah it's been a hassle to get them in the proper order. CMB2 doesn't handle it very well. I'll get them in the proper order though. Nice bug report.

[2015-03-12 04:48] DevinWalker commented on #5
Yup got it!

[2015-03-12 04:50] #5 closed

[2015-03-12 04:56] DevinWalker commented on #15
@mathetos I don't think it's wise to lump them all into one giant metabox. It's a better user experience for us to keep sections separated into separate metaboxes. That being said, we definitely want to limit it so the number of metaboxes doesn't get out of hand.

[2015-03-12 05:09] #15 closed

[2015-03-12 05:40] #8 closed

[2015-03-12 05:41] #14 closed

[2015-03-12 20:14] mathetos commented on #12
Can be tweaked more, but done for now.

[2015-03-12 20:14] #12 closed

[2015-03-13 05:44] DevinWalker opened #16 "Checks Gateway Not Working Properly"
Needs to work as expected within widget, shortcode, and multi-forms on single page

[2015-03-13 20:04] #9 closed

[2015-03-13 21:02] mathetos opened #17 "Frontend List of Donors with Gravatars & Opt-in/out"
Currently all Gravatar settings are global via the Settings panel. They should instead be available in each form for specificity.

[2015-03-13 23:13] mathetos opened #18 "Add Setting to disable single posts"
If a user plans to only use Give with the shortcode, then they don't want the "donations" url showing up in their sitemap, so make a setting to disable the single post type.

[2015-03-13 23:31] DevinWalker opened #19 "Offline Payment: Enhance with Donation Pending Email w/ Instructions"
Right now when a user completes a donation using the offline payment option they do not receive an email with the specific instructions.

[2015-03-13 23:44] #16 closed

[2015-03-14 00:28] mzak opened #20 "Unsaved changes prompt on publishing a new form"
When trying to publish a new form, the unsaved changes warning appears.  Form appears to save correctly when opting to leave the page.

Example: http://www.screencast.com/t/b7Gh8bkr

UPDATE: Issue seems to be a conflict with Google Maps Builder, as it only occurs with that plugin active.

Environment details:
### Begin System Info ###

	** WORDPRESS DATA **
Multisite:				No
SITE_URL:				http://mys

[2015-03-14 00:43] mathetos commented on #20
Hey Matt, thanks so much. You're FIRST! ;-)

Ya, we noticed in development that occasionally there's a weird JS error that is preventing WP from publishing correctly and also prevent Categories and Tags from being added. We're on it. Keep testing and keep filling out the issue. MUCH appreciated.

[2015-03-14 00:58] mzak commented on #20
Ah, gotcha.  Yeah, I've actually since been to reproduce the issue without the GMB plugin, so apparently it's not specifically a conflict with that.

[2015-03-14 01:11] mzak opened #21 "Donations over $999.99"
Decimals seem to get misplaced on donations over $999.99.

$1,000.00 process a donation of $1.00 - http://www.screencast.com/t/cWm0LPxYcq
$10,000 process a donation of $10.00 - http://www.screencast.com/t/RC7KpDFd
etc.

Donation history confirms the incorrect dollar amounts, so it doesn't appear to be a problem with how the receipt is generated: http://www.screencast.com/t/KnZPfS96cql

[2015-03-14 01:57] DevinWalker commented on #21
Your testing rocks. +1 - we're going to check into wth is going on here

[2015-03-14 01:59] mathetos commented on #20
OK, good to know, thanks for following up with that. We think it has more to do with the default installation out of the box. I have one install that has the error and another (both on Desktop Server) that has that behavior. We thought it was just a quirk with my one install. Now we know to look deeper an reproduce. Thanks!

[2015-03-14 02:02] DevinWalker opened #22 "Welcome Screen Should always Goto About Give"
Upon activation currently it is improperly going to "Getting Started"

[2015-03-14 02:05] DevinWalker commented on #20
Upon fresh WP Install I am also able to reproduce. Thanks for mentioning this issue. @mathetos has mentioned it but we thought it was an anomaly.

[2015-03-14 03:42] mathetos opened #23 "Custom Amount"
ENVIRONMENT:
### Begin System Info ###

-- Site Info

Site URL:                 https://www.ourlittleblessings.org
Home URL:                 http://www.ourlittleblessings.org
Multisite:                No

-- Hosting Provider

Host:                     DBH: localhost, SRV: www.ourlittleblessings.org

-- User Browser

Platform:                 Windows
Browser Name:             Mozilla
Browser Versio

[2015-03-14 14:33] mathetos opened #24 "Offline Donation Customization"
ENVIRONMENT:
### Begin System Info ###
 
-- Site Info
 
Site URL:                 https://www.ourlittleblessings.org
Home URL:                 http://www.ourlittleblessings.org
Multisite:                No
 
-- Hosting Provider
 
Host:                     DBH: localhost, SRV: www.ourlittleblessings.org
 
-- User Browser
 
Platform:                 Windows
Browser Name:             Mozilla
Browser

[2015-03-14 14:55] mathetos opened #25 "Saving a Form"
ENVIRONMENT:
### Begin System Info ###

-- Site Info

Site URL:                 https://www.ourlittleblessings.org
Home URL:                 http://www.ourlittleblessings.org
Multisite:                No

-- Hosting Provider

Host:                     DBH: localhost, SRV: www.ourlittleblessings.org

-- User Browser

Platform:                 Windows
Browser Name:             Mozilla
Browser Versio

[2015-03-14 15:18] mathetos opened #26 "Offline Donation Enhancement"
ENVIRONMENT:

__________________________________________
FEATURE REQUESTS:
On the offline donation option it would be nice to collect the donors address, email, and phone number so we can follow-up with the donor as a reminder about sending their donation or if the check get's lost.
__________________________________________
GENERAL FEEDBACK:

REF:345giveReagan!fgh15

[2015-03-14 15:21] mathetos opened #27 "Custom Slug"
ENVIRONMENT:

__________________________________________
FEATURE REQUESTS:
I know we can customize the end of the slug (e.g. domain.com/donation/custom-slug), but it wwould be nice if in the general settings or upon activation we could customize the /donation/ part or choose from a preset list. Some of the preset options could be.

donation
give
donate
support
fundraiser
fundraising
fundraise
fund

[2015-03-14 15:41] mathetos opened #28 "AddOn for Events"
ENVIRONMENT:

__________________________________________
FEATURE REQUESTS:
I would like to suggest an AddOn for events.

This AddOn could facilitate the selling of tickets. I wouldn't go so far as to do things like letting users choose seating in real-time, but they could choose the ticket type, maybe the level of seating, etc.
__________________________________________
GENERAL FEEDBACK:

REF:345g

[2015-03-14 19:41] mathetos commented on #25
Closing since this is a duplicate of #20

[2015-03-14 19:41] #25 closed

[2015-03-16 03:18] DevinWalker commented on #28
I definitely like that idea for an Add-on.

[2015-03-16 18:56] rosswintle opened #29 "Warnings on forms with out-of-the-box settings"
Installed Give on a local dev site where I have verbose error reporting. I get warnings on forms like this:

[code]

[2015-03-16 19:02] rosswintle opened #30 "Odd donation total formatting"
Seen this in a couple of places and with different themes:

![screen shot 2015-03-16 at 18 59 23](https://cloud.githubusercontent.com/assets/1532368/6674041/ffb6d0da-cc0e-11e4-9f58-5421d5844304.png)

[2015-03-16 19:07] rosswintle opened #31 "Fatal error on list forms screen"
Created a form. Went off and did some other stuff. Came back to forms list. Saw this:

![forms_ _oikos_dev_ _wordpress](https://cloud.githubusercontent.com/assets/1532368/6674130/95e0a748-cc0f-11e4-97eb-63b62b72d39a.png)

You may want to note that I'm testing this on 4.2 latest nightly build. Don't know if that's having an impact here.

[2015-03-16 19:18] rosswintle opened #32 "Various fails with out-of-the-box settings"
So, I'm kinda testing what could be an "edge case" of just install the thing, don't do any settings or config, and just go ahead and create a form.

I think there's numerous bugs in the area. I'm not sure how you want to handle this. Refuse to display any forms until settings are done? Or catch the errors as and when they occur.

For this one I created a simple form with a set donation that could

[2015-03-16 19:21] rosswintle opened #33 "Personalise tooltips"
I'd like to be able to personalise the tooltips that pop up on forms when you hover over the question-mark help symbols. This will be especially key when using add-ons like MailChimp where "We will use this to personalize your account experience" won't be enough.

If complete control is not possible then can we at least have a UK translation with "personalise"?

I'm sorry. That's so picky! :)

[2015-03-16 19:22] DevinWalker commented on #29
Thanks for the report

[2015-03-16 19:25] rosswintle commented on #31
Apologies - it's a catchable fatal error - of course. A fatal one would have killed the rest of the page off. Still an error to be dealt with though!

[2015-03-16 19:25] DevinWalker commented on #33
Not picky at all! Great enhancement idea that wouldn't be too difficult to implement

[2015-03-16 19:26] rosswintle commented on #33
I suppose the issue is that you could end up with a mass of tooltip-customisation options.

Are they hookable?

[2015-03-16 19:30] DevinWalker commented on #33
Option 1: No backend customization, only hookable - Downside of this is that it isn't very easy for non-developers, and we want the plugin to be very easy to use.

Option 2: Implement a Global and per-form tooltip customization metabox. The global settings would be under "Display Options" and could customize ALL forms. If you then wanted customization per form, you would customize it in the form m

[2015-03-16 19:31] rosswintle opened #34 "Status change options on the history screen"
For offline or perhaps failed payments, it would be awesome if the history screen could have a simpler option - such as an AJAX-powered button or link - for marking a donation complete.  I noticed that the "Bulk Actions" menu has options to do this, but it would be great to minimise clicks needed to set donations complete from this screen.

Not critical, but would be a nice enhancement.  It's gene

[2015-03-16 19:35] rosswintle commented on #33
I don't feel like I'd need per-form customisations. Or would I??  Hmm...

The form-edit screen is pretty big as it is.

[2015-03-16 19:39] rosswintle opened #35 "Change name of "History" menu item"
Further to issue #34 ... I'm not sure that I like the menu option being "History". If it contains pending or failed transactions then it's NOT historical, it's actually LIVE information.

Can this be "Donations" or "Transactions" or something?

I bet you've spent hours discussing this already, right! ;)

[2015-03-16 20:19] mathetos commented on #33
I think 90% of Ross' concern would be resolved with a solid UK localization .po file. @rosswintle as we get close to launch on the Repo, would you be open to creating that file? There's simple instructions on creating localized translations here: https://wordimpress.com/docs/languages/

[2015-03-16 20:24] DevinWalker commented on #35
@mathetos I like "Transactions" - doesn't that sound better than "History"?

[2015-03-16 20:38] rosswintle opened #36 "[UK-specific] Gift Aid extension"
Don't know why I didn't think about this before. It's REALLY important.

[Note: this is a vastly simplified explanation of how tax works in the UK, I've given you only the facts that you need to know in order to understand Gift Aid]

In the UK we have a system called "Gift Aid".  This scheme is based on the fact that giving to charity is tax-exempt.

Now, unlike in the US, where I think everyone p

[2015-03-16 20:41] rosswintle commented on #35
"Transactions" sounds more like somewhere I would go to change something from pending to complete.  I'm happy with that.

[2015-03-16 20:48] DevinWalker commented on #31
Related to #5

[2015-03-16 20:49] DevinWalker commented on #30
Just wondering, which theme are you using?

[2015-03-16 20:50] mathetos commented on #26
___________________________________
This was generated by our feedback form.
____________________________________

I think this is already in the works including customizing the email in one form or another, correct @DevinWalker ?

[2015-03-16 20:50] rosswintle commented on #33
I think there's two things.  One is localisation (where I'm being picky, really).

The other is wanting to correctly inform end-users of what their data will be used for. So if I add the MailChimp extension then:

    "We will use this to personalize your account experience"

Should become

    "We will use this to personalize your account experience and occasionally email you about our work"

Or

[2015-03-16 20:56] rosswintle commented on #30
Aaah. Are you using Bootstrap?

I was using a plain, un-customized [roots-sass](https://github.com/roots/roots-sass/tree/7.0.1) (now deprecated in favour of "Sage").

But here's the same in Twenty Fifteen:

![screen shot 2015-03-16 at 20 55 45](https://cloud.githubusercontent.com/assets/1532368/6676339/e33a3608-cc1e-11e4-8c92-bbd24006ffc5.png)

[2015-03-16 21:17] rosswintle opened #37 "Split (aka A/B) testing"
Sorry - I'm at it again.

Advanced feature here. Possibly extension-worthy.

Would be great to be able to do split-testing (A/B testing) experiments. So we serve one form to a percentage of users, another form to a percentage of users, and see which performs best.

One simple way that you could do this is to build two separate forms, and have the shortcode for inserting the form (or the widget set

[2015-03-16 21:18] DevinWalker commented on #32
Yup definitely a debug still in there... Thanks again for the excellent description. This immediately let's me know how to go about tackling the bug.

[2015-03-16 21:20] rosswintle commented on #32
Great working with other dev's, huh?

Probably would have been quicker to submit a patch! :wink:

[2015-03-16 21:43] rosswintle opened #38 "Incorrect donation notification - or possible email settings issue"
I seem to get the wrong email back to admin when I make a donation.

Donation notification settings:

![screen shot 2015-03-16 at 21 39 31](https://cloud.githubusercontent.com/assets/1532368/6677136/181adab6-cc25-11e4-97ff-4b4cbc51cf34.png)

Donation email:

![screen shot 2015-03-16 at 21 40 54](https://cloud.githubusercontent.com/assets/1532368/6677148/2fbca672-cc25-11e4-9985-acc6dcc769b1.png)

I

[2015-03-16 21:47] rosswintle opened #39 "Per-form email settings"
Would love to see form-specific emails.  Use case: church is having a specific fundraising campaign for a building project, this is separate from their main fundraising activity. The user should get a custom message for that campaign.

Two options for implementation:
1) Create "Template sets" in the email settings, and then allow a template set to be selected in the form settings.  This keeps form

[2015-03-16 23:43] mathetos commented on #35
@DevinWalker I think "Transactions" works, but it feels a little "product" oriented. Maybe "Records"?

[2015-03-16 23:49] mathetos commented on #33
Changelog: Perfect. That's what we'd love ;-)

With proper localization, and using Codestyling Languages (per the link above) users could change those tooltips to whatever they like. But that would be global, nor per form. But like you said, not sure we want to bulk up the form like that. Will be discussing further for sure.

[2015-03-16 23:54] mathetos commented on #39
Makes a lot of sense. Might make more sense as an "Email Routing" add-on. @DevinWalker what's your take on this?

[2015-03-17 20:55] #20 closed

[2015-03-17 20:57] DevinWalker commented on #32
Fix for this coming now.

[2015-03-17 20:58] #32 closed

[2015-03-17 20:59] DevinWalker commented on #31
This was resolved along with #20 with the taxonomy permission bug fix

[2015-03-17 20:59] #31 closed

[2015-03-17 20:59] DevinWalker commented on #21
Working on this today

[2015-03-17 22:29] DevinWalker commented on #39
Yeah definitely room here for an Add-on

[2015-03-18 00:38] DevinWalker opened #40 "Installation: Default Settings Not Saving Properly"
When you first activate the plugin the default settings should be populated by default in the database. Right now the user has to goto settings and click "Save" in order for this to happen. This can lead to issues if the user simply chooses to not save any settings and decides to rather start building forms.

CMB2 issue opened: https://github.com/WebDevStudios/CMB2-Snippet-Library/issues/6

[2015-03-18 03:48] mathetos opened #41 "Consistency in Language"
I know we're still having discussions on what to call the "History" page (via #35 ), but currently the page that is auto generated upon install is also called "Purchase History". But that name is for the user, not the admin. So we have a couple things to clarify. This is my proposal:
1. Menu Item should be called Transactions, since it's an admin facing item
2. The user "history" page should be ca

[2015-03-18 03:54] mathetos commented on #41
Same issue with "Reports". My suggestions:

1. "Report Type" stays
2. "Earnings" changes to "Income"
3. "Customers" changes to "Donors"
4. "Payment Method" stays.

![report-types](https://cloud.githubusercontent.com/assets/930724/6702355/b5868aa8-cce7-11e4-893e-93e32d354372.png)

[2015-03-18 04:22] DevinWalker commented on #41
Good news on your first comment, I already committed that when working on another install issue #40

As for your second finding:

1. agree
2. agree
3. agree
4. agree

[2015-03-18 15:06] mathetos opened #42 "Goals"
ENVIRONMENT:

__________________________________________
FEATURE REQUESTS:
Is there a way to have a goal for the giving? In my case, we have many individuals who are trying to each raise 150 for their classroom. Parents/friends/strangers donate to each project individually (kind of like donorschoose.org) I didn't see one out of the box and it could be a neat functionality even on a big level. Chur

[2015-03-18 17:56] #41 closed

[2015-03-18 19:56] mathetos opened #43 "Custom Amount Language"
Right now it's not obvious that if you want to do ONLY a custom amount that you can set "Single Amount" and Custom to "Yes" and it will show ONLY the custom amount field. Then when you fill in the "Set Donation" field, it shows ONLY the set donation amount NOT the Custom Field, even when set to "Yes".

So, this needs to be thought through a bit more so the form generation process is really clear,

[2015-03-18 21:19] DevinWalker commented on #35
This is all updated now. Happy transacting!

[2015-03-18 21:19] #35 closed

[2015-03-18 21:21] DevinWalker opened #44 "Custom Amount Validation: Do not allow $0.00 amount to open modal or slide down"
There needs to be validation on the custom amount field to ensure the amount is above $1.00 in order to proceed with the donation.

[2015-03-18 21:43] getresults opened #45 "Improve description of one donation price vs multiple levels"
For someone using give the very first time the "multiple levels" is a little confusing.  Even though it becomes clear the moment they select "multiple levels" it would be worth improving the description to remove any initial confusion.  Perhaps something similar to:

Do you want this form to have one set donation price or multiple levels (for example, $10 silver, $20 gold, $50 platinum)?

[2015-03-18 21:45] getresults opened #46 "Improve "Display Style" description"
As developers we know what "radios" and "dropdowns" are.  Many end users will not.

Putting a small image of what each option will look like underneath would be very helpful for clarity

[2015-03-18 21:50] getresults opened #47 "Improve "Display Content" description"
Improve the description so it is clearer for end users.

"Display page content above or below the Give form?"

Improve the selection options:

"No Content - only display the Give form"
"Yes display the Page content above the form fields" etc.

Note: I've purposely not added a form before giving this feedback so that I'm not 100% sure how the process works for adding a Give form.  If I've misinterp

[2015-03-18 21:52] getresults opened #48 "Improve "Payment Fields" description"
End users don't know what a Modal window is.  Let's make this end-user friendly.

Again - not having seen a form in action yet my first thought is "Upon Click" of what?  What will I need to click on to see the payment fields appear?  Let's improve this description for first time users.

[2015-03-18 21:56] getresults opened #49 "Improve "Default Gateway" description"
I was a bit confused here initially because I wasn't sure if this was asking me to set the "Global Default" or not.

Please include a link below the description that says something like "Please click here to set the Global Default on the Give settings" page.  Suggest opening in a target="_blank" so they don't lose settings on the current page.

[2015-03-18 21:59] getresults opened #50 "Improve "Register / Login Form" description"
My first thought was along the lines of "does this setting force users to register and / or login at checkout?".

I'm guessing it simply displays / hides the registration / login forms on the checkout page but it may be worth expanding the description to be more specific about this.  i.e.:

"Note: this will not require users to register or log in but simply determines whether the login and/or regi

[2015-03-18 22:00] getresults opened #51 "New Form: Is Excerpt used?"
At the bottom of the New Form page it has an excerpt field.  However, it doesn't explain if or where the excerpt will be used.

[2015-03-18 22:03] getresults opened #52 "New Form: Are form categories / tags any use?"
Users entering a new form have the option to select & enter categories or tags.   It's not clear if this is useful in any way.

If so, perhaps add a description area at the bottom of the form to remind users to do so and why.  If categories / tags are not useful for forms, is it possible to hid the categories / tags options to prevent confusion?

[2015-03-18 22:06] getresults commented on #47
Aha... selecting "Yes" opens up a custom field area to enter the content to be displayed.  As this isn't obvious perhaps update the description so it says:

"If you select Yes you will be able to enter content to display above / below the form".   Something that makes it clearer that they'll get to enter the content now and that it's not referring to what is actually on the post/page that the form

[2015-03-18 22:16] getresults opened #53 "When "custom donation" is enabled it's not obvious to the end user"
Turning on "custom donation" allows end users to enter a custom amount, but visually there is no indication until they mouse over the amount field and click into it.  It will be very easy for visitors to miss that entering a custom amount is possible.

Suggestion:  Add "Or enter a custom amount" message below the donation options to help users realise that custom donations are accepted.  Possibly

[2015-03-18 22:17] getresults opened #54 "Featured image displays in preview, but not when form inserted into a page"
When adding a new form it's possible to select a feature image.

When clicking on "Preview Form" it shows the featured image (or a placeholder image if no image is selected).

However, when adding the form to the page no featured image is shown.

This is confusing.

[2015-03-18 22:37] DevinWalker commented on #53
Agreed. This is also an issue with multi-level donations. This is mentioned in #43 - I'm going to close that one out and work from this one.

[2015-03-18 22:37] DevinWalker commented on #43
Closing this one out as duplicate of https://github.com/WordImpress/Give/issues/53

[2015-03-18 22:37] #43 closed

[2015-03-18 23:47] DevinWalker commented on #51
The excerpt is mainly used for use with custom queries or theme usages. For instance, if you wanted to query all forms, similar to a "Shop" page in WooCommerce, the excerpt could be very useful. Know what I mean? Regardless, perhaps we should add some text below with explanation. @mathetos whatcha think?

[2015-03-18 23:53] getresults commented on #51
Yeah, a description along those lines would be great:

"Most Give users won't use the Excerpt field. If you don't know what it is you can safely ignore it.  Developers can use it with custom queries or theme usages. " etc

The main thing is not to leave a confusing, unexplained field for non-technical users.

[2015-03-19 05:23] #30 closed

[2015-03-19 05:24] DevinWalker commented on #27
Hmm. This is possible right now, but having them change the slug at activation is maybe going too far.

[2015-03-19 05:26] DevinWalker opened #55 "Template System: Not Respecting Some Theme Containers"
Some themes:

1. X-Theme
2. Flatsome

The custom template system's single post type doesn't respect containers so the single form view is full width rather than within the container. Why?

[2015-03-19 19:14] mathetos commented on #27
I don't think he means the form slug, which is accessible, but the root `/donation/` url. Meaning instead of `\donation\form-slug` they could have `\campaigns\form-slug`

[2015-03-19 23:12] #21 closed

[2015-03-19 23:16] stegosource opened #56 "5 star rating opens bad link"
Maybe its because its not yet in the repo, but the 5 star ratings link at the bottom does not work.

[2015-03-19 23:20] stegosource opened #57 "Setting - General Tab: Form fields"
Form fields should be prepopulated with default pages (like how Mailpoet and Woocommerce do 			this). And it looks like default pages are loaded in form fields based on post date and time. I would recommend creating the pages in order so that their order matches the form input order.

In other words, create them in this order: History, Transaction Failed, Confirmation. So that when the fields are

[2015-03-19 23:22] stegosource commented on #54
The featured image acutally does show on the Form custom post type, but yes it does not show up as a shortcode.

Personally, I would remove the CPT options, keep it as just a shortcode option, and remove support for Featured image.

[2015-03-19 23:24] stegosource commented on #52
Agreed. This could be useful on the admin side of things, but does not seem to serve a function on the front end side. Would be nice to see it on the front end. Maybe just stick to categories and remove tags.

[2015-03-19 23:29] DevinWalker commented on #52
The plugin's taxonomies are for users and theme authors to for both front and backend functionalities. Just like any CPT, you should be able to categorize or tag your posts, or in this case forms. For instance, if you have "Holiday" specific donations, or want to tag posts for "conservation" etc. How about if we include an option under Settings > Display Options to toggle them on or off?

[2015-03-19 23:31] stegosource commented on #18
Is there a reason to offer donations as a CPT? I think leaving it a JUST a shortcode solve a lot of issues and streamlines the process a bit. A lot like how Gavity Forms works. What is the justification for the single post mode?

[2015-03-19 23:33] DevinWalker commented on #54
Some sites may have a lot of use for the single views. For instance, one of our clients has a donation site setup with many single views: https://citygospelmission.org/donate/hot-meals-donation/ https://citygospelmission.org/donate/job-readiness-donation/

The same functionality should be easy to implement in Give. We will most likely make an option under Settings > Display Options to enable or di

[2015-03-19 23:34] DevinWalker commented on #18
@stegosource see my response over at #54

[2015-03-19 23:34] DevinWalker commented on #56
Yeah it's not yet on the repo so it doesn't work just yet. It will when we release it so I'm closing this one out.

[2015-03-19 23:34] #56 closed

[2015-03-19 23:37] DevinWalker commented on #57
This is a duplicate of #40

[2015-03-19 23:37] #57 closed

[2015-03-19 23:37] stegosource opened #58 "Support multiple colors."
Right now, removing the CSS is supported, but what about offering some simple colors or skins. I know a lot of plugins offer this as a paid for add-on, but something like this should probably come out of the box or as a free add-on if it only changes the color of the buttons.

[2015-03-19 23:38] DevinWalker commented on #40
Also affecting install when the default pages are created, such as "Donation History", and should be prepopulating the General Settings.

[2015-03-19 23:59] getresults commented on #52
@DevinWalker - the display option sounds great.  That way it's hidden from the typical end user who be unlikely to use categories / tags on forms but available for advanced users & theme authors etc.

[2015-03-20 00:08] DevinWalker commented on #52
By default, I think the taxonomies should be enabled. Thoughts?

[2015-03-20 00:32] stegosource opened #59 "Optional login is not optional"
I tested the "optional" login form during a donation and it did not allow the donation to go through without being logged in.

![login error](https://cloud.githubusercontent.com/assets/11436569/6743905/bddea826-ce5d-11e4-9ebf-c28fbaac895f.jpg)

[2015-03-20 00:35] stegosource opened #60 "Registration form on lightbox appearance"
The password confirmation field looks a bit off when the registration form is displayed in the lightbox popup form. Perhaps putting each input on their own line would solve this.

![pass confirm error](https://cloud.githubusercontent.com/assets/11436569/6743942/561b65ac-ce5e-11e4-9402-dbeb4913bfe2.jpg)

[2015-03-20 00:39] stegosource opened #61 "Getting started typo"
There is an extra period at the end of Step 3 on the Getting Started page (/wp-admin/index.php?page=give-getting-started).

[2015-03-20 01:57] mathetos commented on #59
Good catch.

[2015-03-20 02:01] mathetos commented on #58
We have several different ideas for handling that. Right now, you can do templates just like woocommerce does, but we'll need to finalize the docs on that so folks have a leg up on how to make that happen.

[2015-03-20 03:42] DevinWalker commented on #59
Good catch indeed.

[2015-03-20 04:23] DevinWalker commented on #58
I'm removing this from the 1.1 milestone

[2015-03-20 06:01] #61 closed

[2015-03-20 06:03] DevinWalker commented on #59
@stegosource can you pull the latest and test to see if this is fixed on your end? I tested pretty darn thorough but another set of eyes on this would be great. Try to break it the best you can if you have the time.

[2015-03-20 06:19] DevinWalker commented on #22
@mathetos this one's for you!

[2015-03-20 06:38] bryanmonzon opened #62 "Undefined Index "page_success" when Page is null in settings"
This is probably related to Issue #40.

The problem is that my settings are saved, just without a success page set.

![image](https://cloud.githubusercontent.com/assets/237399/6746930/7bc6d1b2-ce8e-11e4-9ae6-eb6e115b3430.png)

[2015-03-20 06:40] bryanmonzon opened #63 "No Paypal email throws an Undefined Index warning after successful donation"
Maybe replace with a warning when the form is loaded on to the page and prevent the form from being submitted until the admin has entered their email.

![image](https://cloud.githubusercontent.com/assets/237399/6747082/274c2bc0-ce91-11e4-9298-26e863512a2a.png)

[2015-03-20 06:41] DevinWalker commented on #38
Related to #40 - once the default settings are being appropriately save on install this shouldn't be an issue. I've also updated the text within the default email so it's more aligned with donations.

[2015-03-20 06:42] DevinWalker commented on #62
I just saw this a second ago as well. Definitely related to #40 thanks for the cross-ref

[2015-03-20 06:43] DevinWalker commented on #63
Definitely an issue. Thanks for reporting @bryanmonzon

[2015-03-20 06:45] DevinWalker commented on #63
Perhaps the gateway shouldn't even be enabled until the admin enters their email?

[2015-03-20 06:54] bryanmonzon commented on #63
It looks like EDD just sends you off to Paypal and let's them warn the user.

![image](https://cloud.githubusercontent.com/assets/237399/6747207/383cb7ea-ce93-11e4-8184-123abd165c37.png)

[2015-03-20 06:54] DevinWalker commented on #63
I guessing the same happens without error reporting set to strict.

[2015-03-20 06:55] DevinWalker commented on #63
Perhaps an admin warning is better than frontend warning. I feel most users would know to fill out the appropriate fields prior to going live, but ya never know...

[2015-03-20 07:01] bryanmonzon commented on #63
It might not even be a big deal. It's probably enough for now to assume the admin should know to enter their email. It would be nice if there was an admin notice that checked if the Paypal Gateway was checked and if there is an email set, though.

[2015-03-20 07:04] DevinWalker commented on #63
Indeed that would be nice.

[2015-03-20 19:19] DevinWalker commented on #40
Default values now populated for NEW installs only:

Success Page (page also created if value not set)
Failure Page
History Page

Base Country = US
Test Mode = Active
Gateways = Test Gateway

Admin Donation Email Notification = Default Set

[2015-03-20 19:20] #40 closed

[2015-03-20 19:22] DevinWalker commented on #38
Fixed with latest commit from 9c27c72

[2015-03-20 19:22] #38 closed

[2015-03-20 19:22] DevinWalker commented on #62
Fixed as of 9c27c72

[2015-03-20 19:22] #62 closed

[2015-03-20 19:23] DevinWalker commented on #59
Closing this out @stegosource - if you notice anything quirky LMK but all should be good now.

[2015-03-20 19:23] #59 closed

[2015-03-20 19:56] bryanmonzon commented on #52
I don't know. The use cases for categorizing and tagging forms seems limited. If the organization created campaigns, however, categorization makes perfect sense. For forms, I'm not sure on the front end there's much use for it.  The form is the mechanism to collect money. It's the primary interaction point between the user giving their cash and the org receiving it. Once the donor is compelled to

[2015-03-20 22:15] DevinWalker opened #64 "Optimization: Combine ALL js and CSS when SCRIPT_DEBUG turned off"
To ensure the plugin is as optimized as possible we should be combining all scripts and styles into 1 file each using Gulp. This is applicable only to the frontend script.

[2015-03-20 23:12] DevinWalker opened #65 "Admin: Multi-Level Amount Fields Not Passed through give_format_amount()"
The set amount field is properly running through give_format_amount for the price format Line 70 in admin/forms/metabox.php - BUT the multi-level on isn't.

Need to figure out how to pull the value for the repeater field via CMB2 and run it through give_format_amount

[2015-03-21 00:15] #44 closed

[2015-03-21 00:16] DevinWalker commented on #29
This is fixed now as of #40

[2015-03-21 00:16] #29 closed

[2015-03-21 00:17] DevinWalker commented on #27
@mathetos that's possible right now, there's just no convenient UI. It's done programmatically.

[2015-03-21 00:21] DevinWalker commented on #23
I just pushed a number of improvements to the custom amount field as of 4806988 which fulfill this issue.

[2015-03-21 00:21] #23 closed

[2015-03-21 00:22] DevinWalker commented on #17
I've disabled the Gravatar functionality until this can be hashed out a bit more. I agree it should be form specific.

[2015-03-21 00:25] DevinWalker opened #66 "Reporting: Switch from Line to Bar graphs"
The line graphs aren't the best way to display reports. We've decided to switch them to bar graphs.

[2015-03-21 01:31] DevinWalker commented on #66
Bar graphs are in as of commit 2d712eb but the barWidth is tricky...

[2015-03-25 19:54] mathetos opened #67 "Content shouldn't be in the modal"
When choosing "Add content after/before form" and then embedding via the shortcode, the content shows up on the page nicely, but it ALSO shows up in the modal below the "Donate Now" button. That shouldn't carry over.

[2015-03-25 19:54] mathetos opened #68 "Shortcodes don't output in the content"
When choosing "Insert content before/after form" and a shortcode is used in the WYSIWYG field, the shortcodes aren't processed but output directly instead.

[2015-03-25 19:56] mathetos opened #69 "Custom field tooltip"
The custom amount field might be a little confusing for some users. Typically when you click inside a field the placeholder text disappears. The input mask on that field is definitely useful, but there needs to be some indication to the user that they can type and don't need to delete the numbers that are in there. Perhaps if the placeholder is first greyed out.

[2015-03-26 16:37] #68 closed

[2015-03-27 05:13] #67 closed

[2015-03-27 05:14] DevinWalker commented on #33
@mathetos - not for the docs - you can also use a plugin like "Say Anything" to change the strings to whatever text you'd like...

[2015-03-27 19:34] DevinWalker commented on #52
Hey Guys - I'm committing code that makes the plugins taxonomies option. By default, they are not enabled. If the user wishes to use them they can easily enable either taxonomy now under Settings > Display Options

[2015-03-27 19:35] #52 closed

[2015-03-27 19:36] DevinWalker commented on #66
Graphs are now using line graphs - I'm creating a new issue for the barWidth and closing this one

[2015-03-27 19:36] #66 closed

[2015-03-27 19:37] DevinWalker opened #71 "Reporting: Bar Graph Width"
It would be nice to have the barWidth properly of jQuery Flot properly calculated. Right now the bars are pretty skinny.

Related to #52

[2015-03-27 20:17] #18 closed

[2015-03-27 21:26] #24 closed

[2015-03-27 23:45] DevinWalker opened #72 "Admin Form Creation: Custom Amount Text Field Won't Accept Empty Value"
This field won't accept an empty value. Meaning, the user doesn't have the ability to make it not appear within the form.

![custom-amount-text-wont-clear](https://cloud.githubusercontent.com/assets/1571635/6878753/8900af7a-d4a0-11e4-9848-fce3810dcd4d.jpg)

[2015-03-28 00:39] mathetos opened #73 "Dashboard capabilities error"
Notice: Undefined offset: 0 in E:\breakstuff.dev\wp-includes\capabilities.php on line 1119

![2015-03-27 17_37_47-dashboard breakstuff wordpress](https://cloud.githubusercontent.com/assets/930724/6879053/2105f7e2-d4a8-11e4-9d6e-385fc8a6c353.png)

[2015-03-28 01:02] mathetos opened #74 "All Levels set to "Default""
When creating a multi-level form, each level created is set as the Default. Changing that is impossible.

![screenshot4](https://cloud.githubusercontent.com/assets/930724/6879181/4c0f9ed6-d4ab-11e4-9721-7dabd68d25d2.png)

[2015-03-28 05:52] DevinWalker commented on #74
How can I reproduce this?

On Friday, March 27, 2015, Matt Cromwell <notifications@github.com> wrote:

--

Devin Walker

Founder & Lead Developer

P:

858-449-6460 <8584496460>

W:

http://wordimpress.com

433 G Street #201
San Diego, CA 92101 <https://goo.gl/maps/BePgp>
<https://www.facebook.com/wordimpressive>  <https://twitter.com/wordimpress>
  <https://plus.google.com/u/0/b/117062083910623146

[2015-03-31 03:48] DevinWalker commented on #74
@mathetos - I can't reproduce this...

[2015-03-31 04:20] #73 closed

[2015-03-31 23:41] mathetos opened #75 "Stripe live_publishable_key error"
When activating Stripe Gateway, and inserting the test keys (NOT the live ones), there's a notice on the front-end. Perhaps we could wrap this variable in a conditional check for the test key, then put a notice in the checkout to say "These Payments will not be processed".

`Notice: Undefined index: live_publishable_key in ...\wp-content\plugins\give-stripe\give-stripe.php on line 1501`

[2015-04-01 00:16] mathetos opened #76 "Input mask for credit card fields"
Would be nice to do an input mask for the credit card number and CVV fields for the Gateway add-ons.

[2015-04-02 17:40] mathetos opened #77 "CMB2 Inclusion"
ENVIRONMENT:
I have a simple install of Wordpress with 2 plugin installed that both use CMB2.
___________________________________________

BUGS:
I'm pretty sure that the bug is related to how you are enqueuing your copy of CMB2.  In my plugin, I enqueue it through composer's autoload, and it work until I turn your plugin on. At first, I thought it might have been mine, but I added another plugin t

[2015-04-02 20:03] mathetos opened #79 "Transaction Status Bulk Change not reflected"
I changed these statuses with the "Bulk Action" tool, the icon went grey and there is no Status text now. And when I click on "View Details" it shows the old status but the icon is grey.
![transactions-bulk-change-no-status](https://cloud.githubusercontent.com/assets/930724/6972437/9149bc2a-d938-11e4-9ca2-91843a759460.png)

[2015-04-04 04:31] DevinWalker commented on #74
Closed as per @mathetos request

[2015-04-04 04:31] #74 closed

[2015-04-06 23:41] cmwwebfx opened #80 "Plugin could not be activated because it triggered a fatal error (/libraries/cmb2/)"
Hi Devin,

Went to install this morning, and received a fatal warning when trying to activate.

Warning: require_once(__DIR__/libraries/cmb2/init.php) [function.require-once]: failed to open stream: No such file or directory in /home/a-web/ac/9c/foundationbarossa.org.au/public/www/wp-content/plugins/Give-master/includes/admin/register-settings.php on line 813

Fatal error: require_once() [function

[2015-04-07 00:04] DevinWalker commented on #80
@cmwwebfx thanks for reporting - I believe I know the issue here... will be coming out with a commit soon to patch it up :]

[2015-04-07 01:06] cmwwebfx commented on #80
Thank s Devin, I will continue to feed any bug reports or feedback once I can get this going on the site. Do you need live login details of the site to help in troubleshooting?

[2015-04-07 02:26] DevinWalker commented on #80
Hey @cmwwebfx are you using PHP 5.2? Looks like your fatal error is due to "__DIR__" magic constant - which was added in PHP 5.3. I'm updating the code now, because a lot of people are using PHP 5.2 still - but I just want to confirm that's the version you are using.

[2015-04-07 02:36] DevinWalker commented on #80
Ok @cmwwebfx as of 38307a49cde08b2dfb47c0b24a890d0d712635d8 you should be all set... would you mind confirming?

[2015-04-07 02:55] DevinWalker commented on #77
I just tested with CMB2 plugin activated and also @mathetos own plugin that uses CMB2 - no issues. I'm closing this one out as I'm unable to reproduce.

[2015-04-07 02:55] #77 closed

[2015-04-07 02:57] DevinWalker commented on #80
Closing this out for now - will reopen if @cmwwebfx confirms issue is not fixed

[2015-04-07 02:57] #80 closed

[2015-04-07 03:36] cmwwebfx commented on #80
Hi Devin

Appologies for delay. Was in weekly WIP. Yes the version of PHP on this host is 5.2 unfortunately.

I have amended the line 813 as directed, and this allows for the plugin to be activated.

The site now throws a new warning message.

Warning: is_readable() [function.is-readable]: open_basedir restriction in effect. File(/languages/en_US.mo) is not within the allowed path(s): (VIRTUAL_DOC

[2015-04-07 04:08] mathetos opened #81 "Apply donation for"
ENVIRONMENT:

__________________________________________
FEATURE REQUESTS:
Hi Devin

I am in a scenario to build a donation form in which I will most likely have to use Gravity Forms for this build. However To provide decent feedback that will be worthwhile using or taking on board, is a donation form requirement for a foundation charity website. Below Is how I have been given this info in require

[2015-04-07 04:25] DevinWalker commented on #81
Interesting form - Particularly the separate checkbox with recurring options and a custom amount. Also, the "Please do not acknowledge my donation publicly" is something we should really put into Core as an option. I feel that would fit nicely along with the terms & agreement option -  @mathetos what do you think?

[2015-04-07 04:35] DevinWalker commented on #80
Yikes - looks like some pretty restrictive hosting there... I did some research and it looks like it's primarily hosting related: https://wordpress.org/support/topic/warning-is_readable-functionis-readable-open_basedir-restriction-in-effec

https://wordpress.org/support/topic/plugin-google-maps-via-store-locator-plus-warning-is_readable-functionis-readable-open_basedir-restriction-in-effec

https:

[2015-04-07 04:36] cmwwebfx commented on #81
This could be upgraded with an extension as I don't think that all users would need the addition of who to provide the donation to.

It is a bit unique that in this case we have a foundation that has a few channels to provide donations to, which gives the end user a path where they would like to money to go. This saves building out multiple forms as well if there was an option to select who to pro

[2015-04-07 04:38] DevinWalker commented on #79
@mathetos I just tried to reproduce this and was not able to. Can you please pull down the latest code and try to reproduce again in at least two separate environments?

[2015-04-07 04:39] cmwwebfx commented on #80
Very likely it is a hosting issue as it is on an old server. Then again, many sites are sitting on old servers like this one.

The server is not an MS IIS setup. Here is the text clip of the server settings using Gravity Forms Server Tool:

[OK]     BackupBuddy Version   =   5.2.0.5
[OK]     WordPress Version   =   4.1.1
[OK]     MySQL Version   =   5.5.39
[OK]     AddHandler in .htaccess   =   no

[2015-04-07 04:41] DevinWalker commented on #81
Agreed, that part of the form is a bit abnormal but I can see why they are doing that because of your explanation.

What's the plan for the Direct Deposit option? Is that going to be collected through a gateway like WePay? It doesn't look like they want to accept CC payments via a gateway...

[2015-04-07 04:43] DevinWalker commented on #80
@cmwwebfx very good point. Is this a test server I could get in and debug on? Otherwise I'll have to spin up a vm with php 5.2

[2015-04-07 04:43] DevinWalker commented on #80
The log is helpful BTW

[2015-04-07 04:45] cmwwebfx commented on #80
Unfortunately this is a live site and the client was adamant that it was to go on this server.

[2015-04-07 04:51] cmwwebfx commented on #81
The direct deposit here in Australia is fairly easy through online banking, so that will not be an issue. But what will be the issue is when they wish to use recurring payments then I will need to enable conditional logic if they choose this option to display only Credit Card via Stripe and hide the manual payment options.

My thoughts are that this pattern of recurring donation for this form is o

[2015-04-07 04:53] DevinWalker opened #82 "Warning: is_readable() [function.is-readable]: open_basedir restriction in effect."
Split issue from #80 --

Warning: is_readable() [function.is-readable]: open_basedir restriction in effect. File(/languages/en_US.mo) is not within the allowed path(s): (VIRTUAL_DOCUMENT_ROOT:/home/chroot_bind/php/php5/usr/local/lib/php/) in /home/a-web/ac/9c/foundationbarossa.org.au/public/www/wp-includes/l10n.php on line 476

Screenshots over at #80

[OK] BackupBuddy Version = 5.2.0.5
[OK] WordP

[2015-04-07 04:53] DevinWalker commented on #80
Ok I'll see what I can do about this... I've created a new issue for this: https://github.com/WordImpress/Give/issues/82

[2015-04-09 03:00] DevinWalker opened #83 "Feature Request: Private Donation Checkbox"
Add a checkbox during donation payment process that requests a donation be private (not displayed at all on frontend).

1. Need conditional function to return true/false whether user has selected option

- Ensure User info ie, name, Gravatar, etc. is never shown on frontend.

[2015-04-09 03:04] DevinWalker opened #84 "WordPress.org - Unexpected Output Error"
I recieved this while downloading Give:
![unexpected-output](https://cloud.githubusercontent.com/assets/1571635/7059722/68b29808-de2a-11e4-9ebc-c7cff27fcc73.png)

[2015-04-09 03:14] DevinWalker commented on #84
I am unable to reproduce, I think it was an issue with the particular WP install I was on...

[2015-04-09 03:14] #84 closed

[2015-04-09 03:30] cmwwebfx commented on #83
Good work team.

[2015-04-09 04:29] DevinWalker commented on #83
:+1: thank you!

[2015-04-09 14:01] BoweFrankema commented on #83
Great to see this make it into the plugin!  When I did a crowdfunding project I was surprised to see over 25% of the donations were anonymous. It's an important thing to add!

[2015-04-09 18:02] natewilldo opened #85 "Multiple donations don't display in reports or on the forms fields"
See screenshots below. 3 donations have been made but none are showing up on the form and only 1 is showing up on the report.
![image](https://cloud.githubusercontent.com/assets/5235216/7073321/dee3c1ac-deaf-11e4-881f-5dbf93aa593e.png)
![image](https://cloud.githubusercontent.com/assets/5235216/7073335/fa1521a0-deaf-11e4-8aa4-f5be7d2fd6a5.png)
![image](https://cloud.githubusercontent.com/assets/52

[2015-04-09 18:10] DevinWalker commented on #85
Hey @natewilldo the reports store a temporary transient to store the report data. Quick question, how long did you wait before checking the reports? Can you try installing - https://wordpress.org/plugins/artiss-transient-cleaner/

[2015-04-09 18:27] natewilldo commented on #85
As of right now it's been over an hour with the same results. I'll try the plugin you are suggesting.

[2015-04-09 18:32] natewilldo commented on #85
That seemed to correct the report issue but the form is still showing 0 transactions and $0.00 income.

[2015-04-09 18:43] DevinWalker commented on #85
Thanks for checking, reviewing now

[2015-04-09 18:45] DevinWalker opened #86 "Global vs Form Payment Gateways"
If you enable a payment gateway Globally, then set that as a default for a specific form, then disable it globally, the single form will still display that disabled gateway.

![enabled-gateways](https://cloud.githubusercontent.com/assets/1571635/7074249/dbb02afe-dead-11e4-816b-8b4f72cfea86.png)
![offline](https://cloud.githubusercontent.com/assets/1571635/7074261/f31e0896-dead-11e4-9362-f6ca8df1b6

[2015-04-09 18:53] DevinWalker commented on #85
Ok here's what I'm thinking - You're testing the plugin in test mode:

1. Right now the columns only display LIVE transactions - test donations will not display here
2. Reports WILL show the test donations

... this is a bit confusing. The reports and columns need to update completely when switching from test mode to live.

[2015-04-09 19:07] DevinWalker opened #87 "Setting Section Title Not Displaying Proper Text"
Something conflicts with the updated version of CMB2 where our setting section titles appear to be inheriting the top most one. I believe this may have to do with the ID parameter not set properly.

[2015-04-09 19:07] DevinWalker commented on #87
![fix-incorrect-options](https://cloud.githubusercontent.com/assets/1571635/7074649/05e66786-deb1-11e4-9f08-6bb83f5a03e3.png)

[2015-04-09 19:15] #87 closed

[2015-04-09 19:59] #86 closed

[2015-04-09 20:21] natewilldo commented on #85
That sounds like what could be happening

[2015-04-09 20:22] mathetos commented on #85
Maybe we should consider a "Test Donation" status for this purpose?

[2015-04-09 20:33] pippinsplugins opened #88 "Donation amount not restored when clicking option after selecting custom amount"
If you have a form that has `Multi-level Donation` enabled and `Custom Amount` is enabled, there is a minor bug with the amount field when switching between options.

1. Click on an option. The amount updates
2. Click on Custom. The amount field gets focus
3. Click on an option. The amount field shows in read and the ajax message shows the amount is updating, but amount stays 0.
4. Click any optio

[2015-04-09 20:38] DevinWalker commented on #88
Heya @pippinsplugins - I'm glad you're getting hands on with the plugin! I believe I understand the issue you're talking about... but I haven't seen the amount not updating. I have seen the "flash" of red validation error, but not the amount getting stuck. Are you able to reproduce on the demo forms? http://givewp.com/demo

I'm going to take a hard look at that today

[2015-04-09 20:38] DevinWalker commented on #88
Specifically, this form https://givewp.com/demo/#forms-multi

[2015-04-09 20:38] pippinsplugins commented on #88
This is happening because `var value_now = $( this ).val();` returns the value of the current amount field, which is 0.00

[2015-04-09 20:39] pippinsplugins commented on #88
@DevinWalker I don't see it happening there but it is happening on my local.

[2015-04-09 20:40] DevinWalker commented on #88
Any time for a pull request? I'd love to see you on the contributors list (although you're already a HUGE part of the plugin already).

[2015-04-09 20:41] pippinsplugins commented on #88
Yep, I'm trying to track it down now.

[2015-04-09 20:42] DevinWalker commented on #88
Cool - I'd also like to help fund the brewery :+1:

[2015-04-09 20:45] pippinsplugins commented on #88
I saw wrong, it's this line `$( this ).next( '.give-updating-price-loader' ).stop().fadeIn().fadeOut();` (line 152.

[2015-04-09 20:45] sumobi opened #89 "PHP Notice: Undefined variable: unlimited"
When saving a transaction you get:

     PHP Notice:  Undefined variable: unlimited in /wp-content/plugins/Give/includes/admin/payments/actions.php on line 148

There's no reference to `_give_payment_unlimited_downloads` anywhere in the codebase so I'm going to assume that this is unused and should be removed.

[2015-04-09 20:47] pippinsplugins commented on #88
I think the problem is that `update_multiselect_vals()` is running multiple times and stepping on its own toes.

[2015-04-09 20:48] pippinsplugins commented on #88
Scratch that.

The animations all appears to work fine even with line 152 commented out, so something must be running twice.

Do you see an issue with removing that line?

[2015-04-09 20:48] DevinWalker commented on #89
Yep that was brought over incorrectly. Thanks for your help!

[2015-04-09 20:49] #89 closed

[2015-04-09 20:50] DevinWalker commented on #89
@sumobi looks like the line above can be removed as well

[2015-04-09 20:52] DevinWalker commented on #88
Checking now

[2015-04-09 20:52] pippinsplugins commented on #88
Might try it on Twenty Fifteen. That's what I'm using.

[2015-04-09 20:54] pippinsplugins opened #91 "Property of non-object on Forms Report"
When loading the Forms report page, I'm seeing this error:
[code]

[2015-04-09 20:54] pippinsplugins commented on #91
This is happening because there are no categories for forms. This appears to be left over from EDD.

[2015-04-09 20:55] DevinWalker commented on #88
@pippinsplugins yep - Twenty Fifteen is having issues. I just switched from Twenty Twelve over and was able to reproduce

[2015-04-09 20:56] DevinWalker commented on #88
Our templating system is also being bunched up within Twenty Fifteen - Separate issue there...

[2015-04-09 20:58] pippinsplugins commented on #91
Ah, I see that categories need to be enabled.

get_terms() is returning a WP_Error since the taxonomy isn't registered:
[code]

[2015-04-09 21:03] DevinWalker commented on #91
@pippinsplugins great PR - I'm wondering why I haven't stumbled upon this PHP error yet... I'm running WP_DEBUG and I believe error reporting is set to strict... Thanks for the PR!

[2015-04-09 21:05] pippinsplugins commented on #91
It only happens when the taxonomy hasn't been registered before.

[2015-04-09 21:06] sumobi opened #93 "PHP warning when exporting PDF"
When there's no categories or tags and you try and export a PDF you receive a couple of these errors:

    PHP Warning:  strip_tags() expects parameter 1 to be string, object given in /wp-content/plugins/Give/includes/admin/reporting/pdf-reports.php on line 112

Changing

    $categories = $categories ? strip_tags( $categories ) : '';
    $tags = $tags ? strip_tags( $tags ) : '';

to

    $categor

[2015-04-09 21:11] DevinWalker commented on #93
:+1: love it. At the last minute we decided form taxonomies would be disabled by default... we didn't realize the can of worms it would open having them unregistered. Thanks for the PR.

[2015-04-09 21:11] #93 closed

[2015-04-09 21:18] pippinsplugins opened #95 "Inconsistent UI when switching Report types"
The default view for the Reports page is the `Income` type. On this page, the `Report Type` drop down is on the right. When changing to the `Forms` or `Donors` report type, the drop down moves to the left:
![screen shot 2015-04-09 at 4 18 15 pm](https://cloud.githubusercontent.com/assets/1034109/7077132/11235488-ded4-11e4-9459-5e4b96105b3a.png)
![screen shot 2015-04-09 at 4 18 23 pm](https://cloud

[2015-04-09 21:20] pippinsplugins commented on #95
The search input on some reports does get in the way:
![screen shot 2015-04-09 at 4 19 50 pm](https://cloud.githubusercontent.com/assets/1034109/7077167/4dcfa738-ded4-11e4-9be8-b02d131dbb79.png)

Perhaps moving the report type all the way to the right and putting search to the left of type would work?

[2015-04-09 21:22] DevinWalker commented on #95
Yeah good point. I just wanted to prevent them from bumping to two lines. Totally see what you are saying about it being inconsistent and thus confusing.

[2015-04-09 21:24] DevinWalker commented on #91
Ok that explains it.

[2015-04-09 21:24] #91 closed

[2015-04-09 22:15] sumobi opened #96 "When exporting a report, apostrophe's are not correctly shown"
When exporting a report, apostrophe's are not correctly shown:

![screen shot 2015-04-09 at 5 10 59 pm](https://cloud.githubusercontent.com/assets/52581/7078063/7e7a223a-dedb-11e4-8d7e-614fcb36c32d.png)

I looked at `$form` and it seems the post title is already there for the picking:

![screen shot 2015-04-09 at 5 12 47 pm](https://cloud.githubusercontent.com/assets/52581/7078079/b0b46d46-dedb-11

[2015-04-10 00:50] sumobi opened #100 "{name} isn't correctly rendered in test email"
When using the `Send Test Email` feature, the name is properly outputted in the email:
![screen shot 2015-04-09 at 7 45 34 pm](https://cloud.githubusercontent.com/assets/52581/7079994/04ba54b8-def1-11e4-84a1-feee5046d133.png)

result:
![screen shot 2015-04-09 at 7 46 29 pm](https://cloud.githubusercontent.com/assets/52581/7079999/2ae4b282-def1-11e4-85df-827b29ded1e7.png)

The `Preview Donation Rec

[2015-04-10 00:52] sumobi opened #102 "Sending test email doesn't notify user that anything was sent"
When a test email is sent it reloads the page but doesn't show any indication of whether or not the email was sent. A admin notice would help here.

[2015-04-10 13:58] stevengliebe opened #103 "Prefix .icon class to prevent conflicts"
Give is looking great, guys.

A user of one of my old themes is using it. Both the plugin and theme are using a class named .icon. As a result, the question mark icon tooltips are not showing correctly.

Ideally all plugins and themes should prefix all classes but my theme is several years old with thousands of users, many of whom are using a child theme. I'm not planning on prefixing classes this

[2015-04-10 14:05] BurlesonBrad commented on #103
nice :+1:

[2015-04-10 17:22] #96 closed

[2015-04-10 17:22] DevinWalker commented on #96
Thanks :+1:

[2015-04-10 17:29] DevinWalker commented on #100
Thanks for catching this :+1:

[2015-04-10 17:29] #100 closed

[2015-04-10 17:30] DevinWalker commented on #103
Definitely! I'll get right on that. Expect it soon. :+1:

[2015-04-10 17:41] DevinWalker commented on #102
Agreed

[2015-04-10 18:08] #103 closed

[2015-04-10 19:37] DevinWalker commented on #75
This has been fixed

[2015-04-10 19:37] #75 closed

[2015-04-10 20:52] stevengliebe commented on #103
Fantastic, thank you!

[2015-04-10 21:07] DevinWalker commented on #79
Closing until @mathetos can reproduce

[2015-04-11 17:30] mathetos commented on #79
Just emailed you another example of this after I reproduced it on a live site.

[2015-04-13 19:52] DevinWalker opened #106 "Emails: There was an error retrieving this donation title"
see: https://wordpress.org/support/topic/donation-error-message?replies=2#post-6816461

[2015-04-13 22:28] #95 closed

[2015-04-13 22:35] DevinWalker commented on #106
I believe this is fixed from a recent PR that changed:

`<input type="hidden" name="give-form-title" value="<?php echo htmlentities( $form->post_title ); ?>" />`

within includes/forms/template.php - which hasn't yet been rolled out to the repo yet. I'm waiting to confirm with the user.

[2015-04-13 23:51] #10 closed

[2015-04-14 15:58] monecchi opened #107 "Give - Brazilian Portuguese Translation"
Hi there. I'm quite interested about using Give on my next project. In order to contribute to Give I've forked the project and I've just finished the translation of the plugin to the Brazilian Portuguese language "pt_BR". It was a pleasurable translation process (not automated), based on the human understanding of the plugin's donation flaw and settings.

However, I'm not a Git expert user and I s

[2015-04-14 17:36] DevinWalker commented on #107
Hey @monecchi thanks a lot for your help translating the plugin! That's exciting to know we have Brazilian Portuguese ready to roll.

We'd LOVE for you to do a Pull Request so you can get credit for your translation within the plugin and on our website. Here's some help:

https://help.github.com/articles/using-pull-requests/

Essentially, you're going to 'fork' Give, drop in your translation file,

[2015-04-14 20:02] monecchi commented on #107
Hi there @DevinWalker. Thanks for your quick help on pointing me out how to make a Pull Request. I'm sure I'll soon become an advanced Git user, but for now, I think I was able to submit the PR with the translation files.

Have a nice day!
Adriano Monecchi

[2015-04-14 20:09] DevinWalker commented on #107
I just merged your PR thanks for that! https://github.com/WordImpress/Give/pull/108

[2015-04-14 20:09] #107 closed

[2015-04-15 04:24] DevinWalker commented on #106
Fixed, user forgot to provide the Give donation form a title:

![no-donation-form-title](https://cloud.githubusercontent.com/assets/1571635/7152241/b2d22dba-e2ec-11e4-815d-9015621fccd4.png)

[2015-04-15 04:24] #106 closed

[2015-04-20 16:46] DevinWalker commented on #22
@mathetos thanks for fixing - closing!

[2015-04-20 16:46] #22 closed

[2015-04-21 18:58] paaljoachim opened #110 "Custom donation"
Clicking into the custom donation box it would be nice if the 0.00 went away, or atleast that one could use the delete button to remove the digits and then insert the donation amount.

Right now:
Cursor blinks behind the 0.00 amount.
Delete keyboard key does not work.
Writing for instance 50 the amount changes to 0.50.
Writing again 00 it then moves the amount forward to become 50.00.
Just a minor

[2015-04-21 19:02] DevinWalker commented on #110
I agree the current "currency mask" plugin we're using isn't the greatest option. There's a better way! I just haven't found a more reliable currency than: https://github.com/plentz/jquery-maskmoney

Demo: http://plentz.github.io/jquery-maskmoney/

It has to be able to support custom thousands, decimals particularly. Any suggestions?

[2015-04-21 19:02] paaljoachim opened #111 "To include a picture."
Hey

I noticed that when not adding a featured image a placeholder image would be inserted.
It would be nice to add the option to have or have not - to include an image.
Text by a checkbox could be "To use your own image add a featured image." If you do not want to use an image on your donation page then click the disable image check box.

I have just scratched the surface of the plugin.
I am work

[2015-04-21 19:20] paaljoachim commented on #110
Hey Devin

As seen right above I have posted on two other jQuery Github repos. Perhaps they might fit in....

Some other sites.
http://jquery-plugins.net/labelmask-alternative-to-input-masks
http://plugins.jquery.com/tag/mask/

Have a great day!

[2015-04-21 19:59] DevinWalker commented on #111
I don't think it's necessary to have an option for that. The user can simply remove the single post type option altogether. BUT, I do think it need to be documented on our website for users to easily know how to customize the featured image and what their options are there.

[2015-04-21 20:07] paaljoachim commented on #111
I noticed the single donation page will include a placeholder or a featured image.
Including a shortcode on a page the image will not be included.

Adding/removing an image how do I control this? As in
Removing image from single donation page.
Adding image to the page where a shortcode is added.
Got some easy tips on this matter?

[2015-04-21 20:13] paaljoachim opened #112 "New top level pages.."
Hey

I have the automatically add top level pages to the menu on the menu screen.
Which means that Donation Confirmation, Transaction Failed and Donation History all are automatically added to the menu.

If these were instead added as draft pages then they would not be added. Or if that is a bad option what about having them do not add to menu code or something similar to this.

[2015-04-21 20:33] DevinWalker commented on #112
It sounds like you may have the option selected on your main menu "Automatically add new top level pages" - I don't think this is an issue and actually helps the user out a lot when setting up the plugin. Most users simply would think the plugin is broken otherwise.

Thanks for taking a look at it though!

[2015-04-21 20:33] #112 closed

[2015-04-21 20:51] paaljoachim opened #113 "TinyMCE icon?"
Hey

I notice the button is fairly huge for adding a donation form to a page/post. (It looks pretty nice next to the Add Media button though..:)

What about adding an icon to the TinyMCE bar instead? To the right of the kitchen sink icon.

[2015-04-21 20:59] paaljoachim commented on #112
Yup the option is selected. Alrighty. It really does remind one that the pages do exist. Easy enough to remove them from the menu.

[2015-04-21 21:38] paaljoachim opened #114 "Orphans"
The question is what is left behind after deactivating and deleting the plugin?
I noticed the donation pages are not removed.

Some plugins have options saying on removal of the plugin also remove the following or something like that. In this case it would be the donation pages, and whatever else that I can not see but might still be there....

[2015-04-21 21:41] paaljoachim opened #115 "Template styles"
The really nice Give demo uses a template style one is not able to use today.
It would be nice if the templates used for the demo were available for download at the site with an doc explanation on how to use and create templates.

Down the road it might be a good idea to include template styles to the Display Settings section.
Showing a thumbnail of a style. Selecting an default style. Having a wa

[2015-04-21 21:43] paaljoachim opened #116 "Import/Export"
As one creates forms, modifies pages and template styles etc etc. It would be good to have a way to export all of it and then import it to another site. It would also be a way to back up all the data.

[2015-04-21 22:14] paaljoachim commented on #114
Another comment. -bug-
As I was going to create a video tutorial I deleted the plugin and then manually deleted the orphan donation pages.

I reinstalled the plugin and no donation pages where added. No donation pages are available.
Which also means that I have to wait with creating the video tutorial.
O'well it is getting late here anyhow. Let me know when the bug has been fixed.

[2015-04-22 20:33] DevinWalker commented on #115
I think we definitely need a style doc explaining how to customize the templates and what not. We don't want to get into styling for YOU the theme admin though. We want Give to flexibly fit into your theme and look good with ease of customization with minor CSS. We also want other theme developers to support Give with basic styles to help it fit.

[2015-04-22 20:34] DevinWalker commented on #113
TinyMCE is a pain to work with and we're happy with the button and it's placement currently. It makes it really easy to see and is much easier to code outside TinyMCE (we're working with their API with another plugin and it's tough sledding).

[2015-04-22 20:34] #113 closed

[2015-04-22 20:56] DevinWalker commented on #114
@paaljoachim I've just fixed this bug - thanks for reporting it.

[2015-04-22 20:57] #114 closed

[2015-04-22 21:05] paaljoachim commented on #114
Your welcome Devin!

[2015-04-22 21:06] DevinWalker commented on #116
@paaljoachim have you tested the WordPress Importer/Exporter? It works very nicely to import and export forms.

[2015-04-22 21:06] paaljoachim commented on #113
Gotcha! Seems you found a good route to follow..:)

[2015-04-22 21:08] paaljoachim commented on #116
I have, but not lately. I will keep that in the back of my mind and test it out with Give at some stage.

[2015-04-22 21:08] DevinWalker commented on #116
I've tested and it brings over all fields expected. I'm adding docs to the site right now.

[2015-04-22 21:10] paaljoachim commented on #115
Sounds great Devin.

[2015-04-22 21:13] paaljoachim commented on #116
Great. If you can add a comment in the issues I made with a link to the docs when they are in place that would be great.

[2015-04-22 21:28] DevinWalker commented on #116
Here's the import/export one: https://givewp.com/documentation/core/give-forms/importing-and-exporting-forms/

[2015-04-22 21:28] #116 closed

[2015-04-22 21:37] DevinWalker commented on #110
@paaljoachim I looked over the links you provided and am still leaning towards maskMoney - There's got to be something better out there though...

[2015-04-22 22:11] paaljoachim commented on #110
As you notice I posted on their Github asking if they could make the process easier with their own code.

[2015-04-22 22:20] paaljoachim commented on #116
Looks good Devin!
That takes care of the donation forms.

Down the road one might want to export Transactions and Reports and whatever else..:)

[2015-04-22 22:56] paaljoachim opened #117 "Jetpack style for activating addons?"
Hey

One thing that is neat about Jetpack is all the functions built into it.
One just activates one plugin and looks through the list and selects which function to activate.

It would be nice if one could click an addon purchase it and go back to the site and see a activated addon text below the addon image. This way one can see which addons one has activated. This is a feature I really would lik

[2015-04-24 19:30] DevinWalker opened #118 "Permissions Bug: edit_give_payments preventing deletion of transactions"
Permissions bug with edit_give_payments within admin/payments/actions.php and within the class-give-roles.php preventing admins of new installs from deleting donations - Thanks @jakestpeter

[2015-04-24 19:30] #118 closed

[2015-04-24 21:00] mathetos opened #119 "Welcome Screen CSS Alignment off"
Looks like a weird CSS bug introduced in either 0.8.5 or 0.8.6
![give-welcome-screen-aligment](https://cloud.githubusercontent.com/assets/930724/7328407/45e787cc-ea8a-11e4-94a0-3cd1114d75b3.png)

[2015-04-24 21:10] mathetos commented on #119
Looks like the styles for `.last-feature` were removed somewhere along the way. It just needs

`.last-feature {
    margin-right: 0;
}
`

[2015-04-25 17:48] #119 closed

[2015-04-25 17:50] DevinWalker commented on #117
That would be nice I agree. I believe WordPress.org doesn't allow "dormant" code to sit in the plugin until it's activated. I'm not sure how JetPack does this, I think a lot of the code communicated with outside APIs, but am not entirely possible. Thanks for the suggestion, it's a good one, and eventually we may shift in this direction. For now, I'm going to close this out but will keep it in mind

[2015-04-25 17:50] #117 closed

[2015-04-26 03:32] mathetos opened #120 "Dollar sign in modal doesn't always work"
Kind of hard to describe how this happens, but basically, if you click "Donate Now" the dollar sign appears in the total amount field no problem. But if you close the modal, pick a different amount and hit "Donate Now" again, you'll see "USD" instead of the dollar sign in the total amount inside the modal.

Here's a screencast showing the problem
http://screencast-o-matic.com/watch/cofOeufV9F

I a

[2015-04-26 19:00] #88 closed

[2015-04-29 03:14] DevinWalker commented on #51
Hey @getresults I'm pushing some updates to address the excerpt field. There's now an option to disable the admin field within Give > Settings > Display Options - I've also added this Core doc: https://givewp.com/documentation/core/give-forms/form-excerpts/ which explains the use cases for the excerpt and instructions to disable.

[2015-04-29 03:16] #51 closed

[2015-04-29 03:17] DevinWalker commented on #111
There is now an option as of commit c6af9bad4ea9363c84baf19f97e7cdd137f069bf to disable the featured image - It's under Give > Settings > Display Options > Disable Form Feature Image

[2015-04-29 03:17] #111 closed

[2015-04-29 03:52] DevinWalker commented on #120
@mathetos how to did you get the "USD" to display? It should show the currency symbol, not the value, which is how the plugin prefixes the amount.

[2015-04-29 04:09] #72 closed

[2015-04-29 04:11] DevinWalker opened #121 "PayPal Standard: Allow Option to Switch from Donations to Standard Purchase"
The Donation option is specifically for 501c's - this may limit the reach of Give - we need to allow the method PayPal uses to be switched from donations to standard.

Default will remain donations, but can easily be switched under Give > Settings > Payment Gateways

[2015-04-29 04:16] DevinWalker commented on #53
We have added the "Custom Amount Text" option. The field's text appears as a label next to the custom amount field for single level forms. For multi-level forms the text will appear as it\'s own level (ie button, radio, or select option). You can also leave this field blank to prevent it from displaying within your form.

[2015-04-29 04:16] #53 closed

[2015-04-29 04:53] DevinWalker commented on #26
I'm committing code that provides an option for you to include the billing information fieldset within offline donations. This includes all applicable information (besides phone #) and satisfies this enhancement request.

[2015-04-29 04:54] #26 closed

[2015-04-29 04:58] DevinWalker commented on #79
@mathetos for some reason I still can't reproduce this anywhere. I want to get this issue closed out so let's see if we can figure this out ASAP - if you could take a stab at it, even better.

[2015-04-29 05:17] #121 closed

[2015-04-29 05:44] #55 closed

[2015-04-29 05:46] DevinWalker commented on #81
Seeing as this isn't really an "issue" I'm going to close this one out. We'll definitely refer to this RFP form for future enhancements.

[2015-04-29 05:46] #81 closed

[2015-04-29 05:49] #47 closed

[2015-04-29 05:51] DevinWalker commented on #58
I'm closing this out. We don't have any plans to add any theming options within the plugin. We're really leaning towards theme authors to present our plugin in the best way possible. Also, we are including code to be compatible with some of the most popular themes like Avada, X, Flatsome, Divi, etc. See: https://github.com/WordImpress/Give/issues/55

[2015-04-29 05:51] #58 closed

[2015-04-29 05:55] DevinWalker commented on #46
I'm going to push back on this one and say that most users DO know what these fields mean (i hope...). I mean, they are the admin of a WordPress site. They use each field extensively to just login to WordPress and click around. I think users who are confused can experiment with selecting different field types, viewing them on the frontend, and then adjusting them to suit their needs.

[2015-04-29 05:55] #46 closed

[2015-04-29 05:58] DevinWalker commented on #48
I've added "The "Show on Page" option will display the entire form when the page loads. "Reveal Upon Click" places a button below the donation fields and upon clicks slides into view the rest of the fields. "Modal Window Upon Click" is a similar option, rather than sliding into view the fields they will open in a shadow box or "modal" window." to this field's description

[2015-04-29 05:59] #48 closed

[2015-04-29 06:01] DevinWalker commented on #50
The field description now reads "Display the registration and login forms in the checkout section for non-logged-in users. Note: this option will not require users to register or log in prior to completing a donation. It simply determines whether the login and/or registration form are displayed on the checkout page."

[2015-04-29 06:01] #50 closed

[2015-04-29 06:05] DevinWalker commented on #49
I have improved the description of this field to read  'By default, the gateway for this form will inherit the global default gateway (set under Give > Settings > Payment Gateways). This option allows you to customize the default gateway for this form only.'

[2015-04-29 06:05] #49 closed

[2015-04-29 06:06] DevinWalker commented on #28
@mathetos please add this to GiveWP for voting and close this issue

[2015-04-29 06:07] DevinWalker commented on #42
@mathetos I want this to be a core feature, not an Add-on.

[2015-04-29 15:45] mathetos commented on #42
And the world of Give will celebrate!

[2015-04-29 16:21] mathetos commented on #120
I didn't attempt to have USD appear, it simply did. This is a live environment (though currently only accessible via IP address). This was a new Give installation, no Add-ons enabled. We can take a look together.

[2015-04-29 16:42] mathetos commented on #28
Done: https://givewp.com/coming-soon/

[2015-04-29 16:42] #28 closed

[2015-04-29 17:50] mathetos commented on #120
Looks like this is related to not having a default set for the Currency settings. Once I went and saved the Settings page, the issue went away.

[2015-04-29 17:56] #120 closed

[2015-04-29 17:56] DevinWalker commented on #36
@mathetos can you add this to the add-on voting on givewp.com/addons/ and close out?

[2015-04-29 18:16] mathetos commented on #36
Done: https://givewp.com/coming-soon/

[2015-04-29 18:16] #36 closed

[2015-04-29 18:27] mathetos commented on #37
Added this to our Voting page, we'll see how folks respond: https://givewp.com/coming-soon/

[2015-04-29 18:27] #37 closed

[2015-04-29 18:33] mathetos commented on #39
Thinking through this one a bit, and I'm a little hesitant to get into that. I see this more as MailChimp territory, especially with their new Web Hooks feature. Of course that assumes the charity is using MailChimp.

@rosswintle Can you elaborate a little, or @DevinWalker what do you think?

[2015-05-01 05:10] DevinWalker commented on #45
Thanks - I've improved the description for this field

[2015-05-01 05:11] #45 closed

[2015-05-01 23:10] NikV commented on #102
How would we like to tackle this? I would be willing to help add this feature :)

[2015-05-01 23:12] DevinWalker commented on #102
Oh yeah? I'm thinking an admin notice on the backend once the button has been clicked. Any other ideas?

[2015-05-01 23:48] NikV commented on #102
Got a little stuck, I'm not quite sure how to check if the button was clicked and fire off 'admin_notices', do you have any idea how I could start with this?

[2015-05-02 00:09] DevinWalker commented on #102
I'm guessing it would have to be a parameter in the URL that gets triggered when the button is clicked and then triggers the notification. That's what I initially thought about when I was going to take this one on.

[2015-05-02 00:14] NikV commented on #102
Ah seems I made a mistake in my code, i think I'm getting somewhere with it now!

[2015-05-02 19:29] DevinWalker commented on #79
I'm going to move this from the 0.9 Milestone until we can figure out how to reproduce it.

[2015-05-05 22:36] DevinWalker commented on #65
Fixed as of commit 00a1ebb7e8c6a2d6017f72a01e82110dc1555e51

[2015-05-05 22:36] #65 closed

[2015-05-06 22:48] mathetos opened #124 "Offline Donation Enhancements"
I think the donor experience when submitting Offline Donations can be enhanced in two ways:

1) They should get a confirmation email that we received their submission and that would include the instructions for how to complete their donation, just like the wording on the form itself.

2) Those same instructions should appear on the Donation Confirmation page when they first complete their form. I

[2015-05-06 23:23] mathetos opened #125 "Should Pending Offline Donations be logged?"
Currently, Offline Donations are not logged until they are marked as completed. I guess we'd need to get user feedback on whether that would be helpful or not. Perhaps not since "Logs" really are only tracking completed donations (currently).

[2015-05-07 02:28] DevinWalker commented on #102
Props to @NikV for taking this one on.

[2015-05-07 02:28] #102 closed

[2015-05-07 21:33] DevinWalker opened #127 "CSS Issue: Search Box under Reports > Logs > API Requests"
Needs a fixin'

![css-error](https://cloud.githubusercontent.com/assets/1571635/7526392/03da34b0-f4c6-11e4-960d-683091d6c667.png)

[2015-05-08 21:35] DevinWalker opened #128 "Fix Broken Icon Image for SSL Secure Sites"
Fix this shiz:

![fix-ssl](https://cloud.githubusercontent.com/assets/1571635/7546120/82bc7d3c-f58f-11e4-8570-f478b5ba40c6.png)

[2015-05-10 02:03] #128 closed

[2015-05-11 10:45] rosswintle commented on #39
I'm not quite sure what you want me to elaborate on? I can't think of many sites I work on where I'd want the SAME email confirmation text sent to a donor on every donation form.

In many cases charities run campaigns for specific things, have separate funds for different activities, and so on.  These would require different email confirmation texts. A church, for example, might need to say:
 - "T

[2015-05-12 09:21] paaljoachim opened #129 "Conflict between Related Posts plugin and Give"
Hey guys

I posted about the conflict of Related Posts and Give at the support forum for Related Posts.
https://wordpress.org/support/topic/related-posts-and-the-plugin-give?replies=2#post-6938838

Check the above link.

Have a great day!

[2015-05-12 15:46] mathetos commented on #129
Interesting. We'll take a look for sure. Thanks for the heads up.

[2015-05-12 17:15] DevinWalker commented on #129
Hmm, I understand why this is happening. We've also had some issues with Jetpack's social share's attaching onto the forms because we run the content through the_content filter.

Proposed fixes:

1. Create an option to enable/disable the_content filter (disable by default)

2. Add a filter (no option) to enable it.

3. Just disable it (some users could want it)

[2015-05-13 18:40] DevinWalker opened #130 "Shortcode: Add support for [give_profile_editor]"
Right now we don't support this shortcode but it's important we get this into place for 1.0 and Recurring donations. Donors are going to want to ability to update their profile and billing information and this shortcode allows admins to do that via a shortcode.

[2015-05-13 19:10] DevinWalker commented on #130
New shortcode added as of c6056db46f62b990762aec54923efe6c77682778

[2015-05-13 19:10] #130 closed

[2015-05-14 00:33] stopspazzing opened #131 "Composer package"
Could you please add to https://getcomposer.org/ ? Would making wordpress theme devs happy for those who use composer to manage packages.

[2015-05-14 01:39] DevinWalker commented on #131
To be honest I haven't done much with composer but hear a lot about it. This will give me a good excuse to get hands on with it :+1:

[2015-05-14 18:14] stopspazzing commented on #131
Never created one myself, however, should be pretty easy:
[code]

[2015-05-20 17:06] michaelbeil opened #132 "Contributions"
It may be nice to add a CONTRIBUTING.md for further clarification on how to contribute to the project. Could include how to PR, what to do when a bug is found, etc.

Examples:
https://github.com/easydigitaldownloads/Easy-Digital-Downloads/blob/master/CONTRIBUTING.md
https://github.com/Varying-Vagrant-Vagrants/VVV/blob/develop/CONTRIBUTING.md
https://github.com/bradp/vv/blob/master/CONTRIBUTING.md

[2015-05-20 17:09] michaelbeil opened #133 "Tag releases"
Not sure if you are planning to tag releases, but that is helpful for any developer.

[2015-05-20 18:03] BurlesonBrad commented on #132
LIKE!
...wait, wrong platform.  my bad.

[2015-05-20 18:29] DevinWalker commented on #133
Hey that's definitely best practice and thanks for the kick in the butt on that. We'll definitely be sure to tag moving forward.

[2015-05-20 18:29] #133 closed

[2015-05-20 18:30] michaelbeil commented on #133
:100:

[2015-05-20 18:34] #132 closed

[2015-05-20 18:38] DevinWalker commented on #132
Thanks @michaelbeil

[2015-05-20 18:40] michaelbeil commented on #132
you bet!

[2015-05-20 18:58] ibndawood commented on #85
Hello @DevinWalker ,

Thank you for your wonderful plugin. I encountered this issue and was stuck for 2 hours digging into the code till I came across this post. From what I've seen in the code, here is what I propose:

We can have 2 additional meta fields for all `_give_form_sales_test` and `_give_form_earnings_test` that would save when test mode is enabled.

Do you think it is a proper approach

[2015-05-20 19:05] DevinWalker commented on #85
Hey @ibndawood - can you further describe the issue you encountered? I just want to full understand the problem here and your proposed solution. Thanks, looking forward to hearing back!

[2015-05-20 19:17] ibndawood commented on #85
Hey @DevinWalker,

This is what I did:

1. I installed the plugin, created a form and made a donation using Test Gateway. It was in **test mode**.
2. When I clicked on "All Forms", the Income was $0.00 and Donations was 0 but I saw the *Transactions* page list my transaction. The *Log* too didn't have the transaction, even though the *Report* had the income registered. It was very confusing.
3. I

[2015-05-20 19:22] DevinWalker commented on #85
Hey @ibndawood -

Thank you for taking the time to explain the issue to me. Would you be willing to take a stab at that? I'm not sure how soon we could take this on but it is on our radar for 1.1 - your contribution would be greatly appreciated.

[2015-05-20 19:23] DevinWalker commented on #85
Also, FYI - @mathetos and me were also talking about how we need to ensure a "Test mode" notice displays on all Give admin pages when the plugin is in test mode. We were going to take care of that this week.

[2015-05-20 20:20] #131 closed

[2015-05-20 20:25] michaelbeil commented on #131
@stopspazzing, `composer.json` was added. @DevinWalker can you add to Packagist?

Also, Give is on WPackagist: http://wpackagist.org/search?q=give&type=plugin&search=.

[2015-05-20 20:38] DevinWalker commented on #131
@michaelbeil I'm adding it now

[2015-05-21 00:48] stopspazzing commented on #131
Working great!
[code]

[2015-05-21 08:32] ibndawood commented on #63
:+1: I am one of those users who forgot to put in my paypal email. I tested my behaviour with WooCommerce i.e. I did not enter my paypal email address. It did not throw a PHP error instead after filling the info it redirects to paypal page which is throws an error similar to @bryanmonzon 's comment : https://github.com/WordImpress/Give/issues/63#issuecomment-83940284

This is the offending line: h

[2015-05-21 08:38] ibndawood commented on #110
:+1: I like the http://www.gofundme.com/ approach.

[2015-05-21 08:45] ibndawood commented on #85
Thanks @DevinWalker for the info. Yes, I can contribute to this issue with a PR.

[2015-05-21 08:50] ibndawood commented on #83
:+1. This is definitely a must for charities. A lot of people do not want their left hands know what their right hand is doing.

@DevinWalker , Is there a method already to display the donor's list in the front end (like for example: http://www.gofundme.com/uenr3b2a )  ? I don't see a requirement for this feature unless we are displaying the donors list in the front-end.

[2015-05-21 17:47] DevinWalker commented on #83
We have a Gravatar list functionality that I want to expand into a widget similar to:

Check out https://github.com/WordImpress/Give/blob/a2213463b45e6eba71086ab430154278d1a25d5b/includes/payments/class-donators-gravatars.php

![donation-widget](https://cloud.githubusercontent.com/assets/1571635/7755122/c804655a-ffa6-11e4-9e2a-5505bafba469.png)

So this feature will definitely be a requirement

[2015-05-21 17:50] DevinWalker commented on #110
@ibndawood it looks like Go Fund Me never asks for a cent value?

[2015-05-21 17:52] DevinWalker commented on #85
@ibndawood that would be most appreciated :)

[2015-05-22 09:16] ibndawood opened #140 "Give Sidebar displays shop sidebar"
Hey @mathetos and @DevinWalker ,

Is there a specific reason behind displaying shop sidebar for give ? https://github.com/WordImpress/Give/blob/master/templates/global/sidebar.php

Thanks,
Ibrahim

[2015-05-22 16:59] DevinWalker commented on #140
Not really currently. The plan is to register a sidebar for the single view when we add some widgets. It's going to be called something other than "shop" though.

[2015-05-22 23:40] #127 closed

[2015-05-22 23:43] mathetos opened #141 "Need to specify .mpf-content more specifically to avoid conflicts"
See this ticket. If we target it with our unique class parent name it should be resolved:

https://wordpress.org/support/topic/conflict-with-rtmedia-plugin

[2015-05-23 19:47] michaelbeil opened #142 "Coding standards"
Gonna submit a PR with a link to WordPress Coding Standards, and a few things on code docs.

What tab size do you all use @DevinWalker and @mathetos? 2 or 4?

[2015-05-23 19:55] DevinWalker commented on #142
We're using PHP Storm's WordPress specs:

![phpstorm-specs](https://cloud.githubusercontent.com/assets/1571635/7785578/ed04caac-014a-11e5-9393-a95b42972a4d.png)

[2015-05-23 19:58] michaelbeil commented on #142
Got it.

[2015-05-23 20:01] michaelbeil commented on #142
Just changed tab size 2 to tab size 4.

[2015-05-23 20:06] DevinWalker commented on #142
Cool thanks

[2015-05-23 20:07] #142 closed

[2015-05-23 20:16] michaelbeil opened #145 "Add CONTRIBUTING.md to README.md"
- [x] added link
- [x] rephrased the "Contribute to Give" section

[2015-05-23 20:22] michaelbeil opened #147 "Decrease required PHP version in composer.json"
I included >=PHP 5.4 and noticed Give's minimum requirement for PHP is >=5.3.

[2015-05-23 21:43] #147 closed

[2015-05-23 21:44] #145 closed

[2015-06-02 05:10] DevinWalker opened #149 "Reports: Filtering by "Last Month" incorrect url "&""
Most likely due to incorrect security hardening using esc_url

ex bad url: http://givedev.dev/wp-admin/edit.php?post_type=give_forms#038;page=give-reports&#038;view=earnings&#038;form-id=0&#038;range=last_month&#038;year=2015&#038;year_end=2015&#038;m_start=5&#038;m_end=5&#038;day=1&#038;day_end=31

example good url: http://givedev.dev/wp-admin/edit.php?post_type=give_forms&page=give-reports&&view

[2015-06-02 20:25] #149 closed

[2015-06-02 20:53] #140 closed

[2015-06-02 22:25] #124 closed

[2015-06-03 03:14] DevinWalker commented on #42
@mathetos please test out the "Give" branch and report back if you find any bugs

[2015-06-03 03:34] DevinWalker commented on #125
They are logged. A transaction record is created and set to pending until an admin updates it to complete. The donor is sent offline instructions as per #124

[2015-06-03 03:34] #125 closed

[2015-06-03 16:58] DevinWalker opened #150 "Currency Separator Calculations Bug"
The problem is the way the URL sent to paypal is composed, due to the thousand separator and the decimal separator.

In France, when you want to pay €25 it's composed this way :  25,00 € and not 25.00€
So..

If I plan 25€ with a coma  "," has thousand separator, my fee will become 2,500.00€
If I plan it with a dot , paypal won't work.

![bug1](https://cloud.githubusercontent.com/assets/1571635/796

[2015-06-03 23:12] DevinWalker commented on #79
Assigning back to you @mathetos until you can reproduce it :+1:

[2015-06-03 23:12] #79 closed

[2015-06-04 00:04] DevinWalker commented on #129
Hey I just fixed this by adding an option to choose whether you want to display content through the_content filter or not found under Give > Settings > Advanced > Filter Control - releasing in 0.9.5 - thanks Paal.

[2015-06-04 00:10] #129 closed

[2015-06-04 00:10] #141 closed

[2015-06-04 00:22] DevinWalker opened #151 "Column Bug: Multi-level values incorrect"
How to reproduce: Create a new form, set several mult-level donation amounts, save, view the form listing screen. The price from low - high won't be correct:

![bug](https://cloud.githubusercontent.com/assets/1571635/7974325/1eef1054-0a15-11e5-840c-31342fbc4c8f.png)

[2015-06-04 03:54] #151 closed

[2015-06-04 03:54] DevinWalker commented on #150
This is now fixed as of 0.9.5

[2015-06-04 03:54] #150 closed

[2015-06-04 03:55] DevinWalker commented on #42
Goals has been merged into master - thanks @ibndawood

[2015-06-04 03:55] #42 closed

[2015-06-04 16:47] ibndawood opened #152 "Single Form image displays featured image using incorrect size"
The Single Form template displays using `shop_single`. Ref : https://github.com/WordImpress/Give/blob/master/templates/single-give-form/featured-image.php#L29

I believe it should be `give_form_single`

[2015-06-04 16:53] DevinWalker commented on #152
Good catch

[2015-06-04 16:56] #152 closed

[2015-06-05 07:21] ibndawood commented on #110
@DevinWalker, This thought never occurred to me. Maybe **Give** can just use whole numbers. Your thoughts ?

[2015-06-05 07:48] ibndawood commented on #60
Hello @DevinWalker, Can I make the 3 columns in individual rows and submit a PR ?

[2015-06-05 15:04] DevinWalker commented on #60
@ibndawood can you make it responsive so they are only 3-column within the modal or at that width which is displayed in the screenshot showing the label bump to 2 lines? That would be awesome.

[2015-06-05 15:23] mathetos commented on #60
@ibndawood Devin and I would like to chat with you in detail. Can I get your email address? Or simply email me at matt@givewp.com Thanks!

[2015-06-05 15:25] DevinWalker commented on #110
I think some would want the ability to add decimals. I could see us provide the ability to toggle between maskMoney, the GoFund Me approach (no decimals), and off completely. Being truthful, the more I use maskMoney, the more I'm kinda thinking about keeping it around. @mathetos what are your thoughts?

[2015-06-05 16:17] mathetos commented on #110
We need to keep decimals because we're talking about implementing that checkbox to allow the donor to donate the Credit Card fee, which would often end up with cents being added. Generally, I think maskMoney is working. It basically mimics how banks enter currency. Users will have to adjust to it no matter which way we go. So far, outside of this thread, we aren't getting any negative feedback so

[2015-06-06 06:52] ibndawood commented on #60
Hello @mathetos , I have sent you an email. Looking forward to your discussion.

[2015-06-06 12:22] ibndawood opened #154 "Microdata added twice to titles"
Please check this line:

https://github.com/WordImpress/Give/blob/80880624efc76fc0b757eea17b5b403aa21ae18d/templates/single-give-form/title.php#L9

and this line:

https://github.com/WordImpress/Give/blob/22f95779a012c2eec0376879f1a2c0144bbfe081/includes/template-functions.php#L193

The issue that arises due to this is that when used with WooCommerce Breadcrumb, the span would be escaped and appea

[2015-06-09 03:06] #154 closed

[2015-06-12 17:01] DevinWalker opened #155 "Modal Window Login Issue"
Brought up over at WordPress.org Support: https://wordpress.org/support/topic/login-on-form?replies=1#post-7060862

Essentially, when the user creates an account or tries to login when the modal window is open the screen refreshes and they have to make their donation selection again.

[2015-06-15 17:29] DevinWalker opened #156 "[give_receipt] and Divi Page Builder"
The shortcode will output errors above other page builder content incorrectly. This is because the output is being incorrectly output by the shortcode function.

[2015-06-15 17:30] #156 closed

[2015-06-15 17:31] DevinWalker opened #157 "Divi Theme: Fix template not respecting container"
Give is breaking the Divi container:

![divi-big](https://cloud.githubusercontent.com/assets/1571635/8165984/a1427fb8-1349-11e5-821d-a85d69b62f9e.png)

[2015-06-15 17:56] DevinWalker commented on #157
Fixed!

![divi-fixed](https://cloud.githubusercontent.com/assets/1571635/8166513/2211b610-134d-11e5-86f3-0178d4a99858.png)

[2015-06-15 17:57] #157 closed

[2015-06-15 19:12] DevinWalker commented on #155
Fixed by removed window reload and instead when the user logs in the payment gateway is refreshed - effectively displaying the appropriate user data and allowing them to continue with the donation process.

[2015-06-15 19:12] #155 closed

[2015-06-17 17:29] mathetos opened #158 "Not Obvious that Custom Text is Required"
If the "Custom Amount Text" field is empty, then the Custom field doesn't show on the form at all. I would suggest two things:
1) Having the field filled by default with the current placeholder text. Once they click "Yes" to Custom field, their intention is already clear, so we don't need them to verify again by inserting text. That way, at least the field will show and when they preview the form

[2015-06-17 19:02] DevinWalker commented on #158
The field should show regardless of whether the field has data in it or not. The user has selected "Yes" for the custom amount so it should display.

[2015-06-17 19:03] mathetos commented on #158
That's a good option too. But what will show if there's no text in the field? You'll set the placeholder as the default output?

[2015-06-17 19:11] DevinWalker commented on #158
Yeah, exactly

[2015-06-26 16:22] helgatheviking opened #159 "PHP notice"
When viewing a form on the front end with `WP_DEBUG` enabled I am seeing

[2015-06-26 16:28] helgatheviking commented on #110
I don't know if it helps at all, but what I use in my plugin is the [accounting](http://openexchangerates.github.io/accounting.js/) script to format the value after it has been entered. Then you could use html5 placeholders while it was still blank. The downside is that I am not sure the script is still under active development.

[2015-06-27 14:17] helgatheviking commented on #159
Tracking that down, it seems like line 323 is

[code]

and maybe should be

[code]

[2015-06-27 17:12] mathetos commented on #159
Hi kathy,

Are you working from the latest master here, or from the WordPress repo version? We'd welcome a pull request if you'd like to be a contributor.

[2015-06-27 17:26] helgatheviking commented on #159
I'm working from the repo version. For something this small it doesn't seem worth it to create my own fork.

[2015-06-27 17:29] mathetos commented on #159
Sure. No problem. I need to double-check with @DevinWalker but I believe the current Master is ahead of the current Repo so that might be a new issue. Thanks!

[2015-06-28 02:05] michaelbeil commented on #159
What is the status of the current master branch @mathetos in relation to the .org repo?

[2015-06-29 13:32] helgatheviking commented on #159
On this issue at least, the master was the same as the .org version. PR sent #160.

[2015-07-02 20:58] mathetos opened #161 "Translations don't seem to take"
A user contacted me about translating into Spanish. He couldn't get his first couple translations to appear in the plugin correctly. He sent me his files, I checked them in Poedit, then tested locally both with his translation files and with our Brazilian Portugese files and neither appeared on the front-end of the dev site at all. Here's his screencast:

http://www.screencast.com/t/Zir13kiaksp

I

[2015-07-04 02:04] helgatheviking opened #162 "More efficient script loading"
The give script should only be loaded when the shortcode is on the page. All the scripts shoud be registered on the `wp_enqueue_scripts` hook and then enqueued in the shortcode so they are conditionally loaded in the footer and not loaded on every page when I only have 1 page with a donation form.

Loading the stylesheet is a bit trickier, but can be done by checking the post content for the prese

[2015-07-06 17:58] tintomatoes commented on #39
I like this idea very much. And I agree that MailChimp integration is not necessary. The need is custom email templates per form, not so much mailing lists.

[2015-07-07 17:12] mathetos opened #163 "Ability to Add Manual Transactions in the backend"
Several users have requested the ability to add manual transactions via the backend.

[2015-07-08 15:06] DevinWalker commented on #162
Hey there,

In theory this sounds straight forward and the right thing to do. However, in practice I've found it very difficult to have scripts loaded conditionally based on whether a shortcode or widget is present. There are many uses that a website can load Give on their site both with custom implementations and out of the box. I've tried in other plugin to optimize scripts so that they are load

[2015-07-08 15:48] DevinWalker commented on #161
Ok so the translation files need "give-" prepended to it. I've prepended it for our Brazilian Portuguese and it's working well. I'd love to get spanish too!

Closed with 2ffa17e

[2015-07-08 15:48] #161 closed

[2015-07-08 16:19] #159 closed

[2015-07-08 16:48] DevinWalker opened #164 "PalPal Standard - Display Multi-Level Select Option"
See: https://wordpress.org/support/topic/sub-heading-paypal-declaration?replies=2

When i create a form and then use the multi level donation option and create 5 new fields when a donator gives to one of the fields they are all classed as under the name of the original form:

e.g.

example form name bosmiles

option 1
option 2
option 3
option 4
option 5

if they click 4 then goto process using pay

[2015-07-08 16:56] #82 closed

[2015-07-08 16:57] mathetos opened #165 "Shortcode Attributes"
We should add a couple basic attributes in the shortcode and shortcode builder. Like:

- [x] goals="true/false"
- [x] form-title="true/false"
- [x] form-content="true/false"

[2015-07-08 16:58] DevinWalker commented on #110
@helgatheviking that accounting script looks pretty nice. I'm going to take a closer look at it.

[2015-07-11 19:56] DevinWalker opened #166 "Improve give_is_admin_page() function"
@see EDDs new way (much nicer)

[2015-07-13 03:08] DevinWalker commented on #166
This has been updated as of commit 73745188985871d05b74f098adaec9a38aab7587

[2015-07-13 03:08] #166 closed

[2015-07-13 16:23] #158 closed

[2015-07-13 17:16] #60 closed

[2015-07-13 17:38] DevinWalker commented on #69
I'm removing this from the 1.0 milestone because I think it needs to be discussed more and it's a bit vague as to what the actual problem is.

[2015-07-13 17:39] DevinWalker commented on #83
I'm removing this from the 1.0 milestone and adding it to the 1.1

[2015-07-13 19:16] mathetos opened #167 "Donor Log link goes to All logs, not filtered view of log"
When clicking on "Donation Log" under the Donors name on the main Donors page, it should take you to a filtered list of the Logs of only that one user (per the url that it goes to), but it's not filtering. It shows the logs of all donors instead.

![2015-07-13 12_13_22-donation reports give wordpress](https://cloud.githubusercontent.com/assets/930724/8658494/f7f32130-2958-11e5-8abe-9975b4cf8f96.pn

[2015-07-13 19:30] mathetos opened #168 "Automatically close Forms that reach their Goal"
This is a feature request. See here:
https://wordpress.org/support/topic/dynamic-donation-field?replies=1#post-7174339

Could be added to the "Goals" conditional field section to close the form. Would probably want to add a WYSIWYG field to it as well that allows you to have a Success! message when the goal is reached and the form is closed.

[2015-07-13 20:05] mathetos commented on #85
Another place that Test/Live donations need to be separated out:

![2015-07-13 12_57_44-donors give wordpress](https://cloud.githubusercontent.com/assets/930724/8659436/c92b2cf6-295f-11e5-9d06-a67221dd740b.png)

[2015-07-13 22:36] DevinWalker commented on #167
Fixed as of 01338e3463bdd75895e76f35dbbfec0908c85f27

[2015-07-13 22:36] #167 closed

[2015-07-14 17:31] pryley opened #169 "Feature Request: Reoccurring donations (subscriptions)"
For $62 you can purchase the Stripe or Braintree add-on, but without subscription functionality (?).

For $90 you can purchase Gravity forms and a Stripe add-on with subscription functionality and get it to look something like this: https://donate.samahope.org/checkout/donation?cid=16728

The only thing keeping me from using this plugin is lack of subscription functionality for reoccurring donatio

[2015-07-14 17:38] DevinWalker commented on #169
Hey there - this has been discussed and is currently in development. Check out: https://givewp.com/coming-soon

Also, Gravity Forms has a lot of good features indeed and we like it as well. Give is built specifically for accepting donations and offers a lot of other great features like reporting, goals, donor lists, and more.

Thanks for stopping by!

[2015-07-14 17:38] #169 closed

[2015-07-14 19:24] DevinWalker opened #170 "CSS Compatibility with Jupiter Theme"
Jupiter is a popular theme: http://themeforest.net/item/jupiter-multipurpose-responsive-theme/5177775

Give has some issues with it out of the box that need to be addressed.

[2015-07-14 20:13] mathetos opened #171 "Fatal Error on Give_DB_Customers"
See here: https://wordpress.org/support/topic/report-on-donors-gives-error-message?replies=2#post-7180494

[2015-07-14 20:34] DevinWalker commented on #171
This has been fixed as of commit 341397163996a7f33e751e9a0f418557fb872091

[2015-07-14 20:34] #171 closed

[2015-07-15 19:08] DevinWalker opened #172 "API Integration"
Allow user generated API keys to use the Give REST API to retrieve data in JSON or XML for external applications or devices, such as the Zapier.

[2015-07-15 22:22] advancedwp opened #173 "Email Subject not changing"
See details here: https://wordpress.org/support/topic/how-to-customize-the-email-template?replies=9#post-7185107
Verified locally that the Email Subject does not change in the email preview. Haven't confirmed with the ACTUAL email yet.

[2015-07-15 22:35] DevinWalker commented on #173
@advancedwp @mathetos can you confirm it doesn't change email? I'd be surprised if it didn't update properly.

[2015-07-15 22:44] advancedwp commented on #173
It changes the subject line of the actual email correctly, but that is not reflected in the Title of the email at all. See here:

### Email Subject changed in Settings
![email-donation-subject-field](https://cloud.githubusercontent.com/assets/12474956/8711580/1e2cfbe0-2b08-11e5-963c-cdd7fea77f12.jpg)

### Email subject not reflected in title of the email
![email-subject-not-changed](https://cloud.

[2015-07-15 22:45] DevinWalker commented on #173
It's not really a bug because the email subject and title are not one in the same.

[2015-07-15 22:46] DevinWalker commented on #173
I'm not convinced this is an actual problem just yet, need to discuss more

[2015-07-15 22:47] mathetos commented on #173
Hmmm... I see what you're saying. This would be an improvement request. Might need an additional field to customize that separately from the subject line. Got it.

Since that title is so pronounced, and so central I think giving an easy way to customize it would be beneficial.

[2015-07-16 03:25] DevinWalker opened #174 "Test Mode Admin Notification Improvements"
Instead of an annoying notification like we have now, we should rather do what Coming Soon does:
![7-15-2015 8-21-11 pm](https://cloud.githubusercontent.com/assets/1571635/8714885/36b9775c-2b2f-11e5-9c42-c28b72dc5311.png)

Why?

1. The notification as it is now acts strange with tabs: ![7-15-2015 8-23-15 pm](https://cloud.githubusercontent.com/assets/1571635/8714897/5a7e6a1c-2b2f-11e5-8b77-a3b8d26

[2015-07-16 03:25] DevinWalker commented on #174
@mathetos do you think our notification can be green? I feel that's just as noticeable and not as alarming as red.

[2015-07-16 03:52] mathetos commented on #174
I'm not sure that alert is best for this purpose. That puts the alert EVERYWHERE in the backend instead of just on the Give Admin pages. I agree that the current alert is a little awkward with the tabs, but I think adding TItles above the tabs could improve all those pages and the alert could be positioned above the tabs below the page title.

We'll just have to chat more about it. Totally agree t

[2015-07-16 03:53] DevinWalker commented on #174
I think it's a good thing it's everywhere. User's won't forget it's in Test Mode prior to launch, etc.

[2015-07-16 03:54] DevinWalker commented on #174
Working a lot with Give with Test Mode enabled makes the notice really annoying now.

[2015-07-16 04:17] DevinWalker commented on #174
Let me know what you think of it now

[2015-07-16 15:36] mathetos opened #175 "Show Multi-level labels on confirmation page and reports"
Some users want to know which "level" a donor donated at, not just simply the amount. If we could add the labels to both the confirmation page/email and in the reports themselves that would be useful.

I also don't think this needs to be a setting. We can add this safely without adding another "decision" to our users. Those who don't care whether it's there or not won't mind that it's there. Those

[2015-07-16 16:40] DevinWalker opened #176 "Add a dedication functionality"
"Dedicate this gift to a friend or loved one."

https://www.redcross.org/donate/0415-c?donationProdId=prod10001&retrieveData=1&campaignId=6300001&flow=oc1

[2015-07-16 16:56] mathetos commented on #176
I think we should do the "In memory of/In honor of" simple conditional field in Core. But then do an Add-on which would add the ability to allow the donor to send an email the person they made the donation for, and add a widget that would list the donations that were made in memory of others.

I think the basic functionality is something many but not MOST users would want. I wouldn't want to add t

[2015-07-17 04:01] DevinWalker commented on #172
API added as of 36c1c7a1b2dd63f54a21510debdccc05a5d050e9

[2015-07-17 04:01] #172 closed

[2015-07-18 04:00] mathetos opened #177 "Transaction Detail page has "Customer" language"
See here:

![give-transaction-language](https://cloud.githubusercontent.com/assets/930724/8760278/c9d1658e-2cc6-11e5-8239-dc765ce4901e.jpg)

[2015-07-20 04:55] DevinWalker opened #179 "Fix Broken Donor Links"
Appears the links to view the transaction donor is not working as expected:

![bbroken](https://cloud.githubusercontent.com/assets/1571635/8770163/e3a90c46-2e60-11e5-9fdf-9185ba3a9c78.jpg)

[2015-07-20 20:42] mathetos opened #180 "Fully test multisite compatibility and network settings"
We need to test on a multisite network as much as possible. Specifically:
- [ ] That Give Free works out of the box on multisite and can be globally activated properly
- [ ] That Add-ons can be globally activated properly
- [ ]  Potentially add actions/filters to disable license management at the child-site level so all management of licenses is handled at the Super Admin level only.

[2015-07-21 02:03] BurlesonBrad commented on #180
Ok.I'm in.
On Jul 20, 2015 3:42 PM, "Matt Cromwell" <notifications@github.com> wrote:

[2015-07-21 03:29] DevinWalker opened #181 "Ensure Cache Busting in Place for Registered/Enqueued Scripts & Styles"
A number of people have complained with the recent update that their CSS appears "broken" etc. when really it's just their browser cache displaying old plugin content.

This issue is to review if we are appending our plugin version to registered and enqueued scripts in the frontend and backend.

[2015-07-21 15:27] mathetos opened #182 "Font icons are block with SSL and ugly permalinks"
If the site does not use pretty permalinks and instead uses the default permalink style (resulting in a slug like `?page_id=992` AND the site is using SSL, the font icons receive a 403 (Forbidden) error.

Perhaps the SSL aspect is inconsequential. Here's an example:

https://haitiproject.org/?page_id=992

[2015-07-21 16:16] BurlesonBrad commented on #182
Ok, I've been staring at this for about an hour now hoping that I could contribute on the 'code' side of things.... (screw it: lemme just stick with what I know)

Those tooltip things were making errors with Gliebe's themes as well, right? Plus...couldn't the whole *font icon* thing be seen as "one more aspect" for y'all to have to worry about?  And, when we look at what it's doing, we can see tha

[2015-07-21 16:38] BurlesonBrad commented on #182
I DID IT!

http://screencast-o-matic.com/watch/coirDAfuRn

[2015-07-21 18:34] #179 closed

[2015-07-21 18:49] DevinWalker commented on #182
Thanks for the screencasts @BurlesonBrad - I'm glad to see you contributing!

About this issue... I'm trying to reproduce it on another site: https://beta.wordimpress.com/?page_id=421

![7-21-2015 11-47-44 am](https://cloud.githubusercontent.com/assets/1571635/8809590/7e7a3f72-2f9e-11e5-97c2-1105e09f3ebd.jpg)

They are showing up just fine. I think there's something up with the theme in use or the

[2015-07-21 18:49] #182 closed

[2015-07-21 18:50] #174 closed

[2015-07-21 18:50] DevinWalker commented on #174
This is incorporated now

[2015-07-21 18:57] DevinWalker commented on #177
This is resolved now in #177

[2015-07-21 18:57] #177 closed

[2015-07-21 18:58] DevinWalker commented on #83
Pushing out again to 1.2

[2015-07-21 19:18] DevinWalker commented on #170
I'm going to bump this off of milestones until we get a copy of it.

[2015-07-21 19:25] DevinWalker opened #183 "GoDaddy Windows Plesk Fatal Error"
`the error "PHP Warning: is_readable(): open_basedir restriction in effect. File(/languages/en_US.mo) is not within the allowed path(s): ..."`

[2015-07-21 19:26] DevinWalker commented on #183
See: https://wordpress.org/support/view/plugin-reviews/give?filter=2

[2015-07-21 20:58] DevinWalker commented on #85
Pushing this milestone

[2015-07-21 21:00] DevinWalker commented on #64
This was released in 1.0.1

[2015-07-21 21:00] #64 closed

[2015-07-21 21:19] DevinWalker commented on #19
Instruction emails are sent - see https://github.com/WordImpress/Give/blob/33424e0e738d9583d4b10f45625139c741848859/includes/gateways/offline-donations.php#L146

[2015-07-21 21:19] #19 closed

[2015-07-21 21:30] mathetos opened #184 "Create Shortcode for Goals"
I'd suggest a few things. It could be simple like this:
[give-goal id="546"]

But a few attributes might be nice as well:
[give-goal id="546" show_text="false" show_bar="true"]

If we wanted to get really fancy we could add a "color" attribute, but users would have to know HEX for that.

[2015-07-21 21:32] DevinWalker commented on #164
![7-21-2015 2-32-05 pm](https://cloud.githubusercontent.com/assets/1571635/8813077/5a915610-2fb5-11e5-9977-ac5ac02cf429.jpg)

Working now.

[2015-07-21 21:33] #164 closed

[2015-07-21 21:53] DevinWalker commented on #76
@mathetos got any library recommendations? This one looks good but would require us to do some more significant changes to how the CC js is handled https://github.com/jondavidjohn/payform#api

[2015-07-21 21:53] DevinWalker commented on #76
Removing the 1.1 milestone from this one

[2015-07-21 21:54] DevinWalker commented on #165
Moving to 1.2 since we're going to be doing the goal shortcode there as well.

[2015-07-21 21:55] mathetos opened #185 "Add Reference field for PayPal Standard donations"
Some organizations have a parent 501c3 which owns the PayPal account. Funds are directed to the child-organization through a "Reference" that PayPal accepts and assigns that tag to the payment which makes it easier for the organization to designate payments to different funds or child organizations.

Here's a screenshot of the results:

![2015-07-21 14_36_19-pay fast with paypal - paypal](https://

[2015-07-21 22:15] DevinWalker commented on #181
I just checked and we're properly using GIVE_VERSION when registering scripts and styles in scripts.php

[2015-07-21 22:15] #181 closed

[2015-07-21 22:17] DevinWalker commented on #180
@BurlesonBrad any testing feedback you can tackle here would be much appreciated :)

[2015-07-21 22:31] mathetos commented on #76
Actually, went down a bit of a rabbit hole just now and found this repo that says two things:
1) Don't use input masks AT ALL because they are horrible for accessibility (makes sense). See their links for references
2) Instead, do auto-spaces, which is what this repo is all about. Worth looking into for sure:
https://github.com/filamentgroup/politespace

[2015-07-21 22:32] mathetos commented on #76
Sorry, related and perhaps a much leaner alternative: https://github.com/bradfrost/labelmask

[2015-07-22 14:29] BurlesonBrad commented on #180
https://givewp.networksharedmedia.com/hey-look-a-post/
Ok, lemme get some more coffee, get some other things knocked out for the day, and I'll see where everyone's at.  It'll either be a few minutes before church or late this evening.

[2015-07-23 05:46] BurlesonBrad commented on #180
http://wooimages.com/donations/f1-multi-level-buttons-custom-amount-above/
Warning: number_format() expects parameter 1 to be double, string given in /home/networks/public_html/wp-content/plugins/give/includes/formatting.php on line 98
**notice went away w/ a simple resave of the post**

https://givewp.networksharedmedia.com/donations/f1/
**no issues seen**

[2015-07-23 05:47] DevinWalker commented on #180
:+1:

[2015-07-23 19:53] mathetos opened #186 "You have to click "Donate" twice for the modal to pop-up"
Currently, the modal pop-up doesn't trigger until the donation amount is updated. This means that users most often have to click outside the amount field before clicking Donate, or worse, they end up hitting the donate button twice.

![click-twice-donate-button](https://cloud.githubusercontent.com/assets/930724/8860599/beb35208-3139-11e5-9897-2fbe37f903ad.gif)

[2015-07-23 20:04] DevinWalker commented on #186
@mathetos that gif is next level stuff :+1:

[2015-07-23 20:13] mathetos commented on #186
@DevinWalker I serve to please

[2015-07-23 20:14] DevinWalker commented on #183
Fixes as of 1.1

[2015-07-23 20:14] #183 closed

[2015-07-24 00:54] DevinWalker opened #187 "Polish and verify give_is_admin_page() new function"
The new conditional function needs to be fully tested to ensure it returns true for all Give admin pages. Right now I see some issues with it, particularly in the settings tabs.

[2015-07-24 06:12] mathetos opened #188 "Transactions Status Changes Causes Donation Form Income Amounts + Goals to Not Calculate Correctly"
See this ticket: https://wordpress.org/support/topic/goal-progress-showing-wrong-total?replies=6#post-7216539

Needs to be confirmed by multiple sources, but it's an important element. Basically, when transactions are deleted, is the Goal updated correctly?

[2015-07-24 19:32] mathetos opened #189 "Should Transactions have a "Trash""
Currently, when a Transaction is deleted, it's immediately gone from the database. Perhaps instead it should get labelled with a "Trash" status as a backup.

[2015-07-25 08:38] ibndawood commented on #184
I'd like to contribute to this.

[2015-07-27 23:56] mathetos opened #190 "Form title not displayed on PayPal Standard"
See here: https://wordpress.org/support/topic/form-title-missing-on-paypal-donation-page?replies=6#post-7229953

Was able to reproduce locally and on a live test site.

![give-paypal-form-title-missing](https://cloud.githubusercontent.com/assets/930724/8920639/68f7a19e-3480-11e5-9cbd-c36d36c59a7a.png)

[2015-07-28 00:56] #190 closed

[2015-07-28 14:34] ibndawood commented on #188
Hi @DevinWalker ,

Have you figured this out ? Do you want me to look into this ?

Thanks

[2015-07-28 19:50] DevinWalker commented on #188
@ibndawood if you can that would be great.

[2015-07-28 20:02] DevinWalker commented on #186
After testing for this issue it looks like the problem is that the "Updating price" text is pushing the button out of the way when you attempt to click on it. Hiding the text with CSS will work to prevent this from happening when you place the form in tight places:

`form[id*='give-form'] p.give-loading-text.give-updating-price-loader { display:none !important; }`

[2015-07-28 20:02] #186 closed

[2015-07-28 20:43] DevinWalker opened #191 "Addons page PHP Warnings"
`( ! ) Warning: call_user_func_array() expects parameter 1 to be a valid callback, function 'give_add_ons_check_feed' not found or invalid function name in C:\Users\Devin\Dropbox\Sites\givedev.dev\wp-includes\plugin.php on line 496`

[2015-07-29 01:16] #191 closed

[2015-07-29 01:20] DevinWalker commented on #184
@ibndawood first priority is Form Field Manager BUT if you want to tackle this if you have time then no problem :+1:

[2015-07-29 01:22] DevinWalker commented on #187
Fixed as of dbc546724d755c41ff3d9c118539f08dcf5987e3

[2015-07-29 01:22] #187 closed

[2015-07-31 17:21] mathetos opened #192 "Form Content Wrap doesn't go full width without Featured Image"
See ticket here: https://wordpress.org/support/topic/donation-form-1?replies=14#post-7246442

The form should go full width under these conditions
- [x] When NO featured image has been selected and there is no sidebar widgets
- [x] When the Featured image has been disabled and there is no sidebar widgets

[2015-08-01 23:32] mathetos opened #193 "Spinner should be an icon font"
The current loading icon doesn't look sharp on dark backgrounds. We should swap it out for a font icon: http://www.flaticon.com/search/spinner

![spinner-not-awesome-dark-background](https://cloud.githubusercontent.com/assets/930724/9024016/d12706b8-386a-11e5-911a-596c03e55578.gif)

[2015-08-02 01:17] DevinWalker commented on #193
Do we want to keep the WordPress style spinner though?

[2015-08-02 01:27] mathetos commented on #193
Not married to it.

[2015-08-02 06:13] mathetos opened #194 "Checkbox for "Create Account""
I think we can make the creating an account process much easier and require less fields.We can take some cues from [this EDD Extension](https://easydigitaldownloads.com/downloads/auto-register/) which generates the user account from their email address and auto-generates their password and emails it to them.

We want to provide as few fields in our Donation forms as possible, this would be a good

[2015-08-03 19:39] DevinWalker opened #195 "Fix widget tooltips"
There is supposed to be a tooltip here created with qtip2 - yet, it's not there! WTH?! Fix it ;)

![fix-widget](https://cloud.githubusercontent.com/assets/1571635/9046039/b0a2442a-39dc-11e5-8daf-b3c7bfa7b709.png)

[2015-08-03 20:44] mathetos opened #196 "Menu section should be called "Donation Forms""
"Forms" is too generic for the Menu area. We should call it "Donation Forms".

![2015-08-03 13_40_25-menus give wordpress](https://cloud.githubusercontent.com/assets/930724/9047263/84051614-39e5-11e5-948b-32d3b2da3de2.png)

[2015-08-04 05:15] ibndawood opened #197 "Creation of Give Pages"
There are 3 Donations Page which are "Donation Confirmation", "Donation History" and "Transaction Failed". These pages are created every time the plugin is activated even if those pages were created earlier. The proper approach would be to follow WooCommerce. When activated WooCommerce asks to create "Pages" to finish setup and allows to skip.

Inputs from @farookibrahim

[2015-08-04 05:31] ibndawood commented on #197
Please close this ticket because I think this is fixed in the latest version.

[2015-08-04 05:31] #197 closed

[2015-08-04 20:18] mathetos opened #199 "GIVE_SLUG define doesn't affect slug"
`define('GIVE_SLUG', 'donate'); ` should change the Archive page and single form url to use `/donate/` instead of `/donations/` but it doesn't seem to be working correctly. Tested with both Archives disabled and enabled. Reseaved permalinks several times.

[2015-08-05 06:38] DevinWalker opened #200 "Add new button notice tooltip"

[2015-08-05 06:39] DevinWalker opened #201 "Add new Maps Builder button notice tooltip"
We want to notify people that there's a new maps builder available. I think the best way is to use the WP tooltips when they enter the single map edit screen.

[2015-08-05 06:41] DevinWalker opened #202 "New map post title while map builder modal customizer is enabled by default"
There has to be a way to edit/update the map/post title within the customizer modal window. Right now, if you have the modal map builder enabled by default and create a new map there's no way to edit the title. It's a UX/UI issue that needs to be fixed.

[2015-08-05 18:26] DevinWalker commented on #201
Whoops... wrong repo

[2015-08-05 18:26] #201 closed

[2015-08-05 19:14] DevinWalker commented on #202
Wrong repo ;(

[2015-08-05 19:14] #202 closed

[2015-08-06 23:58] DevinWalker opened #203 "Licenses are not deleted when deactivated"
When you deactivate a license the content isn't remove. Also, when it's active it should probably become a password field so you can't see the actually keys.
![licenses](https://cloud.githubusercontent.com/assets/1571635/9126025/6a5a1c90-3c5c-11e5-84c4-1acee8ef55f4.png)

[2015-08-11 02:50] UaMV commented on #194
Personally, I've never been a fan of a site auto-creating a WP username according to my email, as WP does not currently allow users to change their username. I know too many people who still change email addresses somewhat regularly. This could cause headaches when they return to login. I do agree removing impediments is important, but I think this is one thing to consider.

[2015-08-11 17:34] mathetos commented on #194
Thanks for chiming in. I wouldn't like it to create the username by email address either. But since all donations ask for first and last name it could be pretty easy to do something like `matt_cromwell-347` as the username.

[2015-08-11 17:35] mathetos commented on #194
Not sure why I didn't clarify that in the original ticket though! Ha! Good catch!

[2015-08-12 04:58] pryley commented on #76
What about something like this: http://jessepollak.github.io/card/

[2015-08-12 05:00] DevinWalker commented on #76
Woah that's pretty awesome. I think that should be an Add-on... it's not really applicable for everyone. Some may like that eye candy while others may not. Also, how's it perform cross-device/mobile?

[2015-08-12 05:11] pryley commented on #76
While it works on mobile, you probably wouldn't the card image to display on smaller screens.
Also it looks like it is only IE10+

However, the input mask functionality could probably be replicated fairly easily.

[2015-08-12 05:39] pryley opened #204 "trigger JS events after any ajax requests that change the form DOM"
I have a custom script that styles the radio/checkbox/select fields and converts labels to floating labels (similar to this: http://clubdesign.github.io/floatlabels.js/).

![ccard](https://cloud.githubusercontent.com/assets/134939/9217105/0e1c2150-40f6-11e5-997e-1151970eaffb.png)

I need to be able to trigger a refresh anytime the DOM is changed via ajax. All this requires is something like the fo

[2015-08-12 06:18] pryley commented on #76
Stripe has a general purpose library for building credit card forms, validating inputs and formatting numbers. https://github.com/stripe/jquery.payment

http://jessepollak.github.io/card/ uses a forked version of that library that converts it to vanilla javascript.
https://github.com/jessepollak/payment

[2015-08-13 18:08] mathetos opened #205 "Goal amount not respecting thousands separator"
If you change the decimal and thousands separator to the European format then the Goal amount doesn't respect it. I duplicated the problem locally. See this ticket here:

https://wordpress.org/support/topic/goal-amount-does-not-save-properly?replies=2#post-7296565

[2015-08-14 07:55] ibndawood opened #208 "`give_format_amount` method applied twice"
On Single form page, the method `give_format_amount` is applied twice.

1. https://github.com/WordImpress/Give/blob/master/includes/forms/template.php#L233
2. https://github.com/WordImpress/Give/blob/master/includes/forms/template.php#L249

This is causing this error. The setting is thousand separator (.) and decimal separator (,) :

![image](https://cloud.githubusercontent.com/assets/179533/92694

[2015-08-14 08:35] ibndawood commented on #208
@WordImpress/owners - I have submitted the fix in a separate branch. Please test them from your site before merging into the master and delete the branch.

[2015-08-14 08:35] ibndawood commented on #205
@WordImpress/owners - I have submitted the fix in a separate branch. Please test them from your site before merging into the master and delete the branch.

[2015-08-14 08:53] ibndawood commented on #188
@mathetos, Can you please help me to create a step-by-step process to recreate the bug in local environment ?

[2015-08-14 14:43] mathetos commented on #188
Yes.

1) Add some transactions to a form that has a Goal. You should try adding both Test Donations and Live Donations (could probably do Offline Donations and mark them as complete so as not to mess with CC info)
2) Then delete some of those transactions.
3) The goal will not be reduced properly.

@DevinWalker and I discussed it a bit and it looks like Goals are stored in metadata rather than act

[2015-08-17 15:41] ibndawood opened #209 "Loading scripts in footer"
I notice that the give scripts are being loaded in header. I think it is best loaded in footer. Your thoughts ?

[2015-08-17 16:03] DevinWalker commented on #209
I think an option to move to the footer under Settings > Advanced would be best

[2015-08-17 18:51] mathetos opened #210 "Add "Refresh Reports" button to Reports page"
Reports numbers are stored via a transient for performance reasons. Let's add a button to the top of the Reports page that says "Refresh Reports" to force those transients to clear and get the latest data.

[2015-08-17 21:09] UaMV commented on #194
Good to hear ... so, yes, this sounds great!

[2015-08-23 16:17] artburkart commented on #110
I find the maskmoney plugin is the total opposite of intuitive, which is discouraging because Give offers everything my organization needs, except this is a showstopper. If people can't figure out the input box, they won't be willing to donate.

It would be helpful if Give allowed the user to type whatever they wanted and then displayed error messages when the value is invalid.

As a web developer

[2015-08-23 17:12] helgatheviking commented on #110
@DevinWalker Let me know if you have any questions. I'm the author of the WooCommerce Name Your Price plugin and that script is what I am using to format the price input. You can see a [demo here](http://sandbox.kathyisawesome.com/shop/simple-name-your-price/). If you type in a number, it is auto-formatted to the store's currency settings. If you type a word, it is formatted to 0, which can trigge

[2015-08-24 02:12] DevinWalker commented on #110
@helgatheviking that script looks perfect. Also, I really enjoy your plugin. :)

@artburkart it sounds like you really don't like the current maskMoney! Don't worry, we'll be taking care of it soon.

What do you guys think of an advanced option in the plugin's settings to allow the user their preferred currency validation script? Is this giving the user too many options? The default option would b

[2015-08-24 02:57] helgatheviking commented on #110
Thanks Devin! I think two formatting scripts would be too many options, but if you wanted to maintain both maybe a filter? That would be dev friendly in the case someone *really*, desperately, wanted to use the maskmoney script. Idk, I had it easy in that I went from having no script to adding the accounting script. :)

[2015-08-24 06:46] paaljoachim commented on #110
Yeah, Helga's accounting script looks really good! I would say stick to it. Why do you want the option to either use maskMoney or the accounting script? I am happy that a solution finally came into place..:)

[2015-08-24 19:02] mathetos opened #212 "Custom Amount label in PayPal Standard is wrong"
See issue here: https://wordpress.org/support/topic/custom-amount-on-multi-level-donation-form-issue-with-paypal-description?replies=2#post-7340381

I tested locally and was able to reproduce the problem as well. Most likely just need some conditional logic to apply a default "Custom Amount" language when a Custom Amount is entered.

[2015-08-26 22:00] helgatheviking commented on #110
Hey everyone, please give [this branch](https://github.com/helgatheviking/Give/tree/custom-donation-formatting) a go.

[2015-08-27 14:48] MichaMcLain commented on #180
Hey guys. I'm the one that asked Matt about this functionality in your plugin. Has there been any progress in this yet? I'm hoping to have this feature available soon as I'll be launching this network very soon.

Thanks,
Micha

[2015-08-27 21:24] BurlesonBrad commented on #180
Micha, I'll not only tell 'ya it works in multisite, but I'll let you log in and see if you can _not_ make it work in multisite ;-)
I'm even running nightly bleeds of WordPress on this particular multisite!! ...and Give still seems to be churning away just fine.
Shoot me an email to howdy@bradgriffin.me and I'll make 'ya a super admin to the network and you can mess with it all 'ya want.

[2015-08-28 18:56] mathetos opened #213 "Allow thousands separator to be empty"
Apparently Canadians don't use a thousands separator at all. Currently if you remove the thousands separator it defaults to a comma. We need to remove that.

[2015-08-28 18:57] mathetos opened #214 "Success Page Fallback"
Currently if the user does not have a Success Page designated (perhaps they deleted the page after it was auto-designated) then when a donation is made they donor is redirected to a white screen with a strange url.

We should just have a fallback to the homepage.

[2015-08-28 23:03] DevinWalker opened #215 "API Enhancement: Populate Custom Meta Fields for Forms & Donations Endpoints"
Right now when a user creates a custom form field using this article: https://givewp.com/documentation/developers/how-to-create-custom-form-fields/

They are adding custom meta content to the `give_payments` CPT and often they want that content available in the API. For instance, imagine a form with a custom "Number of Guests" number field. Donors complete the donation and fill out that info where

[2015-08-28 23:50] DevinWalker opened #216 "UX Improvement for viewing Donations Details"
Right now to view donation details you have to click on the link all the way to the right. I propose that we have a title item hover link and change the current link to a button like so:

![8-28-2015 4-45-03 pm](https://cloud.githubusercontent.com/assets/1571635/9559219/e357cb0c-4da4-11e5-9540-2e0aa410114c.png)

[2015-08-29 00:10] DevinWalker commented on #213
Off the top of my head this would require removing the default value for:

https://github.com/WordImpress/Give/blob/master/includes/admin/register-settings.php#L248 and https://github.com/WordImpress/Give/blob/master/includes/admin/register-settings.php#L255

But we have to be sure that upon fresh install we have this field set here: https://github.com/WordImpress/Give/blob/master/includes/install

[2015-08-29 17:10] mathetos commented on #213
I don't think we need to hide the Decimal separate though. For the long-run, might be better to do the harder task rather than simply enable that function.

[2015-08-29 17:39] DevinWalker commented on #213
You can tweak the function above to allow decimals. I think some admins may want no decimals.

[2015-08-31 16:59] DevinWalker commented on #205
@ibndawood checking it out now

[2015-08-31 17:07] #205 closed

[2015-08-31 17:23] DevinWalker commented on #208
Seems to be good for single amounts, but not multi-level amounts

[2015-08-31 19:12] mathetos opened #217 "Modal loads ALL form data"
Currently, the Modal pop-up just loads the whole form. It would be better for it to load fields more strategically. This is particularly relevant when you create custom fields manually, and I'm sure it will impact the Form Field Manager as well.

@ibndawood Can you make sure to test Form Field Manager with the modal as well. Perhaps you'll have some insight on how we can load the fields in the mod

[2015-08-31 19:58] #208 closed

[2015-08-31 20:21] #76 closed

[2015-08-31 20:37] DevinWalker commented on #110
Hey @helgatheviking I just tested it out and looks great. Can you submit a PR from that branch to our repo?

[2015-08-31 21:07] DevinWalker opened #218 "Session Issues with Pantheon and Possibly PHP 5.6+"
Debug session issues on Pantheon and PHP 5.6+ reported issues.

[2015-08-31 21:09] DevinWalker commented on #218
Related: https://wordpress.org/support/topic/donation-confirmation-page-error-message?replies=6#post-7321161

[2015-08-31 21:09] DevinWalker commented on #218
Related: https://wordpress.org/support/topic/problem-identifying-donation-error-on-all-donation-form-submits/page/2?replies=36#post-7370061

[2015-08-31 21:17] helgatheviking commented on #110
Against your main branch? I can do it when I get home.
On Aug 31, 2015 4:37 PM, "Devin Walker" <notifications@github.com> wrote:

[2015-08-31 21:17] DevinWalker commented on #110
Yeah that would be great. Master branch is good.

[2015-08-31 22:49] pippinsplugins commented on #215
No reason aside from it hasn't been built in EDD.

[2015-08-31 22:50] DevinWalker commented on #215
@pippinsplugins I can submit a PR if you're interested...

[2015-08-31 22:54] pippinsplugins commented on #215
Certainly interested!

On Mon, Aug 31, 2015 at 5:50 PM, Devin Walker <notifications@github.com>
wrote:

[2015-08-31 23:15] #110 closed

[2015-08-31 23:46] #199 closed

[2015-09-01 02:30] DevinWalker commented on #212
@mathetos can you test with the latest master? Should be fixed now. I just test in both "Donation" and "Standard" modes:

![8-31-2015 7-29-16 pm](https://cloud.githubusercontent.com/assets/1571635/9594920/bcbc5250-5016-11e5-856b-55333999d9d5.png)
![8-31-2015 7-29-33 pm](https://cloud.githubusercontent.com/assets/1571635/9594918/bcb95dfc-5016-11e5-8856-535e2334b946.png)
![8-31-2015 7-30-02 pm](http

[2015-09-01 02:31] DevinWalker commented on #212
Plz reopen if able to reproduce issue

[2015-09-01 02:34] DevinWalker commented on #218
Note: I've been working with Pantheon and have helped uncovered an issue within their Sessions plugin. Patch will be out soon for that from them.

I'm testing PHP 5.6 here now

[2015-09-01 03:30] #193 closed

[2015-09-01 03:32] DevinWalker commented on #209
The problem with loading scripts in the footer sometimes is a Flash of Unstyled Content (FOUC) - which can lead to more support requests...

I think an advanced option would be a nice addition...

[2015-09-01 04:02] #195 closed

[2015-09-01 04:37] DevinWalker opened #220 "Broken SSL padlock!"
It's using dashicons, that's why it works when not logged in. It need to use our icomoon font.

![8-31-2015 9-36-46 pm](https://cloud.githubusercontent.com/assets/1571635/9596351/82cd4f24-5028-11e5-86db-423f4cdf8943.png)

[2015-09-01 04:46] mathetos commented on #209
Had a Twitter convo about this as well:
https://twitter.com/bendelaney/status/636930070842478592

[2015-09-01 04:54] #220 closed

[2015-09-01 17:23] mathetos opened #221 "PayPal Standard back button issue"
This is an edge-case but feasibly users could do this. The scenario is that the donor chooses a level and gets directed to the PayPal site. Then they change their minds about which level and hit the back button on the screen. If PayPal ISN'T the default payment gateway then even though the form shows that PayPal is selected, it will process the form with the default gateway instead. Here's how to

[2015-09-01 19:01] DevinWalker commented on #204
@pryley would you be interested in submitting a pull request for this?

[2015-09-01 23:52] DevinWalker commented on #63
Guys, I've tested and I think it's fine that we are sending users to the PayPal error page. It provides a description like:

`We cannot process this transaction because there is a problem with the PayPal email address supplied by the seller. Please contact the seller to resolve the problem. If this payment is for an eBay listing, you can contact the seller via the "Ask Seller a Question" link on t

[2015-09-01 23:52] #63 closed

[2015-09-02 00:28] DevinWalker commented on #221
@mathetos can you verify this is fixed in https://github.com/WordImpress/Give/tree/issue/221 and I'll merge to master?

[2015-09-02 00:29] DevinWalker commented on #221
Sorry I was commenting on wrong issue. I meant to comments on https://github.com/WordImpress/Give/issues/217

[2015-09-02 00:31] DevinWalker commented on #217
@mathetos please checkout branch issue/217 to verify fixed and I'll merge

[2015-09-02 02:44] DevinWalker opened #222 "Unit Test: Verify constant version matches actual version"
Today we released with the constant `GIVE_VERSION` not updated to the latest version. We need a unit test to verify it matches up so we don't make this mistake again.

[2015-09-02 03:18] #214 closed

[2015-09-02 03:22] DevinWalker commented on #115
@mathetos put together a nice theming documentation section here: https://givewp.com/documentation/developers/themeing-with-give/

This should suffice until we release the Add-ons allowing for more advanced theme options.

[2015-09-02 03:22] #115 closed

[2015-09-02 03:25] DevinWalker commented on #69
I feel that with our latest updates in 1.2 to the custom amount validation that there's no tooltip needed. It's pretty intuitive how it is now.

[2015-09-02 03:25] #69 closed

[2015-09-02 03:31] DevinWalker commented on #34
After thinking about this more thoroughly I feel this addition would add too much complexity to the UI. WordPress natively doesn't allow the user to publish posts via AJAX in the post listing screen. Why should we provide a similar functionality to the user in a foreign UI? Most users won't expect this or need it and we haven't heard any requests for this feature since so I'm not convinced it's a

[2015-09-02 03:31] #34 closed

[2015-09-02 03:32] DevinWalker commented on #27
I don't like the idea of adding a UI for this... would cause more support and programmatically is cleaner.

[2015-09-02 03:33] DevinWalker commented on #39
This Add-on has been added to this: https://givewp.com/coming-soon/

It's not going to be a core functionality so I'm closing this issue.

[2015-09-02 03:33] #39 closed

[2015-09-02 03:39] DevinWalker commented on #189
While this would certainly add some complexities to the way the core functions... I can't think of a reason why not off the top of my head. Perhaps @pippinsplugins could shed some light as to why EDD doesn't have a trash for individual purchases.

[2015-09-02 03:50] DevinWalker commented on #216
Title hover option is nixed. The button is move to the right of the details now making it much easier to navigate into the single transaction view.

[2015-09-02 03:52] #216 closed

[2015-09-02 03:53] DevinWalker commented on #188
@mathetos @ibndawood and word on this?

[2015-09-02 03:53] DevinWalker commented on #200
Not sure what I created this for...

[2015-09-02 03:53] #200 closed

[2015-09-02 03:55] DevinWalker commented on #27
@mathetos assigning to you for the doc

[2015-09-02 13:06] pippinsplugins commented on #189
There was a reason but it rather eludes me now. Might have had to do with
the complexity of reversing the reversal of sale logs if a payment is
untrashed.

On Tuesday, September 1, 2015, Devin Walker <notifications@github.com>
wrote:

[2015-09-02 13:36] pryley commented on #204
@DevinWalker sure.

[2015-09-02 16:10] DevinWalker commented on #204
Cool! :+1:

[2015-09-02 16:57] DevinWalker opened #225 "Donation History Shortcode Error CSS Hidden by Default"
Ensure the error displays when users are not logged in..

![donation-history-logged-in-warning](https://cloud.githubusercontent.com/assets/1571635/9638038/0a1933fe-5159-11e5-90dd-d6e5e4d774f3.png)

[2015-09-02 17:02] DevinWalker commented on #184
@ibndawood any word on this?

[2015-09-02 17:41] mathetos commented on #63
I'm not convinced. I need to test a bit, but I don't think we should have a negative DONOR experience if the Admin is missing something necessary. If we can have a front-end notice like "The PayPal Gateway is not configured. Donations will not be processed" that that both alerts the Admin and the donor in advance instead of having the donor fill out information that is just going to lead to an err

[2015-09-02 18:05] DevinWalker commented on #63
We'd have to do this for every gateway then that potentially couldn't be configured properly... which would be cumbersome.

[2015-09-02 18:14] mathetos commented on #115
The docs are a good start, but there's functions that control the majority of the markup that need a lot clearer docs still in order to be really usable for users who want advanced customizations to even the single page. It's a work in progress for sure!

[2015-09-02 18:22] mathetos commented on #188
@ibndawood I confirmed this problem in another live environment this past weekend. Once transactions that are connected to a goal, the goal postmeta get's wrong. Also the total amount of donations that appear in the backend Forms admin page are wrong. So, something about the deletion functions is resulting in wrong info.

[2015-09-02 18:23] mathetos commented on #27
OK, I want to write a doc on "Give Globals" with this one included.

[2015-09-02 18:26] DevinWalker commented on #27
Here's a good reference from EDD https://easydigitaldownloads.com/docs/section/developer-api/php-constants/

[2015-09-02 18:29] mathetos commented on #27
:+1:

[2015-09-02 18:54] mathetos commented on #189
Ya, the person I dealt with this past weekend I mentioned that changing the status is a better practice anyway. Generally, in accounting you never delete anything. Of course, our "Transactions" page shouldn't be the go-to spot for Accounting anyway.

Still, we need the deletions to re-calculate correctly first, then re-evalutate whether a Trash is useful or necessary at all.

[2015-09-02 20:03] DevinWalker opened #226 "Bug when attempting to view single donation history issue"
When clicking the link here:

![9-2-2015 1-01-02 pm](https://cloud.githubusercontent.com/assets/1571635/9642749/d9f48b6e-5172-11e5-9512-0145e30a9d26.png)

One is brought to the homepage with a link like so: `http://givedev.dev/?payment_key=14a99f0762921329445367a3cc4566b3`

![9-2-2015 1-01-24 pm](https://cloud.githubusercontent.com/assets/1571635/9642760/e46151d6-5172-11e5-8991-57ed5c560ab7.png)

[2015-09-02 20:31] DevinWalker commented on #225
False alarm, the guy from this site image above added CSS to hide it himself...

[2015-09-02 20:31] #225 closed

[2015-09-02 21:25] #221 closed

[2015-09-02 21:28] DevinWalker commented on #217
Merged

[2015-09-02 21:28] #217 closed

[2015-09-02 21:45] mathetos commented on #27
Done: https://givewp.com/documentation/developers/give-php-constants/

Looks as if we don't currently have `GIVE_MENU_POSITION` . I like the way we implemented that in Maps Builder, with an additional setting in the Advanced tab. Might be nice to do that with Give as well.

[2015-09-02 21:45] #27 closed

[2015-09-02 22:15] DevinWalker opened #227 "Modal CC fields get squeezed and bumped to two lines"
CSS help needed:

![modal-cc-fields](https://cloud.githubusercontent.com/assets/1571635/9646128/75557052-5185-11e5-8bec-f1e9fb39ff4f.png)

[2015-09-03 01:05] DevinWalker commented on #226
Looks like this only happens when the user hasn't properly set a "Success Page" for donations.

[2015-09-03 01:05] #226 closed

[2015-09-03 01:06] mathetos commented on #226
That's a weird instance though. Why is the Use History page connected to the Success page at all?

[2015-09-03 01:11] DevinWalker commented on #226
Because the single donation history information is output using the donation `[give_receipt]` shortcode.

[2015-09-03 01:17] DevinWalker commented on #173
I can't find a reason to allow the user to customize the test email subject. Seems more confusing than helpful.

[2015-09-03 01:17] #173 closed

[2015-09-03 01:19] DevinWalker commented on #85
@mathetos seems like this is related to the transient caching reports. I bet this would be resolved with #210

...unless there's something else I'm missing here?

[2015-09-03 02:34] mathetos commented on #85
Potentially, but it is a bit bothersome overall that Reports and numbers in the backend have a lag like this in general. I understand the performance reasons, just wish this could be automated a bit more.

[2015-09-03 03:07] DevinWalker commented on #215
This was released in 1.2.1

[2015-09-03 03:07] #215 closed

[2015-09-03 03:30] DevinWalker opened #228 "Modal has no close button"
The modal window is missing the close button.

![no-close](https://cloud.githubusercontent.com/assets/1571635/9649978/64919562-51b1-11e5-987a-bd2889a444ca.png)

[2015-09-03 03:35] #209 closed

[2015-09-03 04:55] DevinWalker commented on #192
I've added an option to disable the sidebar entirely. Also,

* if feature image is disabled the placeholder will no longer display
* if sidebar is disabled the form goes full width
* if sidebar is disabled, the sidebar is unregistered

[2015-09-03 04:55] #192 closed

[2015-09-03 05:18] DevinWalker commented on #196
I'm not sure this is a functionality right now... we may be running into limitations within WP core. I asked a question on AWP to find an answer.

[2015-09-03 18:01] pryley commented on #204
@DevinWalker Hey were you referring to the event trigger or the float labels script? I understood the latter from the issue tags so I converted an internal script to a plugin and integrated it into Give #231 .

If not, no worries.

[2015-09-03 18:31] pryley commented on #196
This should do the trick:

[code]

[2015-09-03 18:45] DevinWalker opened #232 "Add basic table styling"
Some themes don't do squat to style tables... we should provide some basic styles so we don't see stuff like this:

![table-styles](https://cloud.githubusercontent.com/assets/1571635/9667538/3402a5dc-5231-11e5-9dda-65783691b798.png)

...which leads to support requests for us. Let's provide them some base styles.

[2015-09-03 18:50] DevinWalker commented on #196
That does the trick nicely! Nice one. Great little function.

[2015-09-03 19:05] #196 closed

[2015-09-03 19:06] #204 closed

[2015-09-03 20:45] DevinWalker commented on #212
I misunderstood this issue. Reopening

[2015-09-03 22:02] DevinWalker commented on #232
Issue created from this ticket https://givewp.com/support/ticket/give-donation-history-paage/

[2015-09-03 23:00] #232 closed

[2015-09-04 01:24] DevinWalker opened #233 "Custom amount field needs to display numbers by default on mobile/tablet"
Right now it defaults to text:

![unnamed](https://cloud.githubusercontent.com/assets/1571635/9674706/0771b228-5269-11e5-8132-2504d4d51abc.jpg)

[2015-09-04 01:25] DevinWalker opened #234 "Basic form & button styles"
We need to further polish the form styles and add basic support for button style. I've seen too many sites where Give could look much better with only minor CSS touch ups.

[2015-09-04 04:14] #233 closed

[2015-09-04 04:35] #228 closed

[2015-09-07 20:06] DevinWalker opened #237 "Divi 2.5 receipts fatal error"
the {receipt_link} in the email that sends the donor to this page that says "Fatal error: Call to undefined function et_builder_enqueue_font() in /home/designworks/designworksbc.com/wp-content/themes/Divi/functions.php on line 168"

![9-7-2015 1-05-29 pm](https://cloud.githubusercontent.com/assets/1571635/9722400/2c3c6c60-5561-11e5-8b94-7ea9e87152f9.png)

Created from: https://wordpress.org/suppor

[2015-09-07 21:00] DevinWalker opened #238 "Add Swedish Translation Files"
Thanks to our new translator here: https://wordpress.org/support/topic/swedish-translation-21?replies=1#post-7398014

[2015-09-07 23:23] DevinWalker commented on #238
#239

[2015-09-07 23:29] DevinWalker commented on #238
Added

[2015-09-07 23:29] #238 closed

[2015-09-08 16:15] mathetos commented on #176
This needs to be a priority. It's just too common of a use-case and feature request to leave to Form Field Manager.

[2015-09-08 16:18] mathetos commented on #83
Let's make this a priority soon. Really very often requested.

[2015-09-08 18:47] DevinWalker opened #242 "Test Mode Active notification displays for editors when inactive"
Reported here: https://wordpress.org/support/topic/editor-role-wp-admin-bar-says-give-test-mode-active?replies=5#post-7402025

[2015-09-08 20:56] DevinWalker commented on #83
Yeah I agree it needs to be out soon.

[2015-09-09 03:48] DevinWalker opened #243 "Include CMB2CSS in the head to avoid FOUC"
See this snippet:

[code]

[2015-09-10 20:52] mathetos opened #244 "epic(donation): enable sequential ordering"
## User Story

As an admin, I want sequential donation IDs so that I can satisfy the legal and accounting needs of my organization.

## Current Behavior

I currently have donation IDs based on the post ID which means there are large gaps between numbers that make it appear as if there might be missing donations from an accounting perspective.

## Expected Behavior

I expect to have sequential dona

[2015-09-11 17:56] mathetos opened #245 "Metabox on Give CPT for layout options"
End users really need a simple way to customize some of the simple layout options of the single Give Forms. ThemeFoundry's Make theme has a really useful metabox as an example:

![layout-metabox-make](https://cloud.githubusercontent.com/assets/930724/9822007/db9deb7a-5872-11e5-9016-51d4a579dd50.png)

I think we need these basic options:

- [ ] Disable Title
- [ ] Disable Sidebar
- [ ] Disable Feat

[2015-09-12 19:33] DevinWalker opened #246 "Reports JS Uncaught Error: Time mode requires the flot.time plugin."
Looks like recent changes borked the JS for Reports.

[2015-09-12 19:34] DevinWalker commented on #246
I think this is related to https://github.com/WordImpress/Give/pull/236

[2015-09-12 19:56] mathetos commented on #246
I like the use of the word "borked" here. Though I don't like what it represents. If it's urgent, we should send a hotfix rather than wait for 1.3.

[2015-09-12 20:11] DevinWalker commented on #246
It's not in the released version currently.

[2015-09-14 16:41] DevinWalker commented on #246
This is fixed but now the individual stats are on top of one another:
![9-14-2015 9-40-56 am](https://cloud.githubusercontent.com/assets/1571635/9855680/cff58bb2-5ac4-11e5-975f-11fe9b1c7102.png)

[2015-09-14 16:41] #246 closed

[2015-09-14 16:41] DevinWalker commented on #246
Creating a separate issue for that

[2015-09-14 16:43] DevinWalker opened #248 "Reports bar graphs incorrectly overlaid on eachother"
Related to #246 and #247

![9-14-2015 9-40-56 am](https://cloud.githubusercontent.com/assets/1571635/9855716/0127194e-5ac5-11e5-8e46-99e49d4de9df.png)

[2015-09-14 16:43] DevinWalker commented on #248
The image above is what is *should* look like

[2015-09-14 19:05] mathetos commented on #165
Updated list of attributes here:

- [ ] show_goals="true/false"
- [ ] show_title="true/false"
- [ ] show_content="true/false"
- [ ] display_style="onpage/reveal/modal"

[2015-09-15 06:22] pryley opened #249 "`give_require_billing_address` filter is always set to `false`"
The `give_require_billing_address` filter (`/includes/process-purchase.php:275`) is `true` by default, but will always be set to `false` because of `give_manual_no_cc_validation()`.

Here is a alternate way to write the function that allows other functions to modify the filtered value:
[code]

Since the default filtered value is `true`, you will need to add a similar function to any gateways that

[2015-09-15 08:36] pryley commented on #248
I think I know what's causing it. I'll have a look.

[2015-09-15 17:33] DevinWalker commented on #248
Looks great now.

[2015-09-15 17:33] #248 closed

[2015-09-15 17:36] DevinWalker commented on #249
Hmm, I'm going to dig into this one. Seems alarming off the bat.

[2015-09-15 22:06] DevinWalker commented on #249
@pryley how about we simply remove `give_manual_no_cc_validation()` it seems entirely unnecessary?

[2015-09-16 01:02] #243 closed

[2015-09-16 01:08] #242 closed

[2015-09-16 01:32] #203 closed

[2015-09-16 03:02] DevinWalker commented on #249
I'm trying to wrap my head around this...

I have removed `give_manual_no_cc_validation()` but now currently PayPal and Manual (Test) are broken because of the true value returned here: https://github.com/WordImpress/Give/blob/master/includes/process-purchase.php#L281

Perhaps we can write a function similar to `give_is_cc_verify_enabled()` that checks whether or not the current gateway has CC fie

[2015-09-16 03:03] DevinWalker commented on #176
Sorry it's not going to make it in 1.3 :cry:

[2015-09-16 03:05] DevinWalker commented on #188
@ibndawood lemme know on this one. I can take a look if you're busy with FFM.

[2015-09-16 03:21] ibndawood commented on #188
@DevinWalker - I will look into this now and let you know if it is a quick fix or needs more detailed review. If its not a quick fix I'd be glad if you can take that from me.

[2015-09-16 03:24] DevinWalker commented on #188
@ibndawood thanks for getting back to me quickly. LMK

[2015-09-16 03:34] ibndawood commented on #188
@DevinWalker, I am able to reproduce this error. I will provide a fix.

[2015-09-16 03:37] DevinWalker commented on #188
Great thanks!

[2015-09-16 15:51] ibndawood commented on #188
Hello @mathetos and @DevinWalker ,

I tested thoroughly with various test cases. I was able to reproduce this in the following scenario:

* Create a Form with or with Goal.
* Make a payment ( you can choose any payment here ).
* Now go back to **Transactions** and edit the payment you just made.
* Change the amount (increase or decrease amount) and **Save Payment**
* Now if you go back to forms, y

[2015-09-16 17:24] DevinWalker commented on #249
@pryley we're getting close here. The only issue now that I can see is with `give_is_field_required` here https://github.com/WordImpress/Give/blob/master/includes/forms/functions.php#L206 when there's no `$_POST` available the fields required labels don't display properly.

[2015-09-16 18:21] pryley commented on #249
Currently gateways determine whether or not they include the CC fields by including a gateway specific hook (`has_action( 'give_' . $payment_mode . '_cc_form' )`). This hook allows you to override the default `give_cc_form` hook which displays the CC fields.

Since the form ID is passed to these hooks, you could pass it through to the `give_field_is_required()` which in turn can send it to `give_r

[2015-09-16 18:24] DevinWalker commented on #249
I've almost got nearly what you described working. Give me a sec to commit

[2015-09-16 18:36] DevinWalker commented on #249
@pryley if you have a moment can you check out what I did here: 15cf87d511c84a02f1d087871a2f3c9cb4d07430

It seems to be functioning nicely upon initial testing. Here's the branch: https://github.com/WordImpress/Give/tree/issue/249

[2015-09-16 18:44] pryley commented on #249
@DevinWalker Oh I didn't see this, I also just made a commit. :)
I'm heading to bed now so I'll have a look tomorrow.

[2015-09-16 18:46] DevinWalker opened #253 "When Only a Payment Gateway without CC Fields is Active Fatal JS error"
Reported here: https://wordpress.org/support/topic/give-donation-plugin-donation-total-not-updating?replies=6#post-7435104

I have a fix coming... it's pretty simple.

[2015-09-16 18:46] DevinWalker commented on #253
But goes to show we need more testing before rolling new features like this :disappointed:

[2015-09-16 19:00] DevinWalker opened #254 "Multiple Give Forms on Single Page Causes CC Validation to Fail"
When multiple forms are on a page embedded with a shortcode and both are using a gateway with CC fields that validation JS gets messed up because it's not properly looping through all forms on the page.

I have a fix in queue...

[2015-09-16 19:29] #253 closed

[2015-09-16 19:29] #254 closed

[2015-09-16 20:32] DevinWalker commented on #188
Hey @mathetos @ibndawood

I've committed some code which now properly increases/decreases the individual donation form income amount which Goals relies on. I've tested it myself and it's working but would appreciate it if you both could confirm by checking out this branch: https://github.com/WordImpress/Give/tree/issue/188 and testing the scerario in the comment above and other scenarios to verify

[2015-09-16 20:44] DevinWalker opened #255 "Unit Tests Error: Fatal error: Call to undefined function is_post_type_viewable() in /tmp/wordpress-tests-lib/includes/utils.php on line 365"
Looks like WP 4.3 changed and made `is_post_type_viewable()` unavailable to our Unit Tests

[2015-09-16 20:44] DevinWalker commented on #255
@see https://travis-ci.org/WordImpress/Give/jobs/80713932

[2015-09-16 20:56] DevinWalker commented on #255
Related https://github.com/Automattic/babble/issues/332

[2015-09-16 21:40] DevinWalker commented on #255
Tests are fixed as of 9884fa73ca994800a7aede08309319d16e9621e4

[2015-09-16 21:40] #255 closed

[2015-09-16 22:10] DevinWalker opened #256 "Admin Column: If no goal is set for form show "n/a" rather than "0.00""
It's better to show "n/a" aka "Not applicable" rather than "0.00" if a form doesn't have a set goal.

![9-16-2015 3-09-17 pm](https://cloud.githubusercontent.com/assets/1571635/9919951/133cfe98-5c85-11e5-90be-41b88c32d9f7.png)

[2015-09-16 22:18] mathetos commented on #256
I'd even just say "No Goal". We have the space for it. I always feel that N/A isn't descriptive enough.

[2015-09-16 22:19] DevinWalker commented on #256
Oh you one upper you... :+1:

[2015-09-16 22:19] DevinWalker commented on #256
Oops, don't close!

[2015-09-16 22:42] DevinWalker commented on #184
Ok I've added this...

@mathetos please test https://github.com/WordImpress/Give/tree/issue/184 when you can to verify it's ready to merge.

[2015-09-16 22:47] #256 closed

[2015-09-16 22:50] DevinWalker commented on #180
@mathetos what's the status on this issue? Have you tested and verified your items 1-3? I really don't want to bump this one to 1.4 and it seems nearly tested.

[2015-09-16 23:13] mathetos commented on #180
I'll test more fully soon.

[2015-09-16 23:25] mathetos opened #258 "User link on Transactions Page Should goto Donor's Page"
*Not sure how long this has been there, but noticed as of https://github.com/WordImpress/Give/commit/45936cac9193e1c883d176d1152fa57acacf8495*

When clicking the "guest" link on a transaction apparently it filters the Transaction view to show ONLY the donations made from that email address.

The problem is that there is no other visual cue that that's the behavior, and there is no intuitive way to

[2015-09-16 23:30] mathetos commented on #188
Tested and verified locally. Works exactly as expected now. Great work! That was an important one.

[2015-09-16 23:47] mathetos commented on #184
Works as advertised. Looks really great, will be a very welcome addition.

I think adding one attribute (perhaps in a future version) would be helpful:

[give_goals markup="full/minimal/none"]

* full = exactly the output it has now. All spans and class names with styles applied
* minimal = All spans with alternate class names so NO styles are applied
* none = just the plain text with no markup is

[2015-09-16 23:49] DevinWalker commented on #184
I'd rather provide options for styles like the color of the bar, etc.

`[give_goal id="12" progress_color="#334219"]`

[2015-09-16 23:52] mathetos commented on #184
Yep, that would be a good one too, just requires the user to know HEX colors. But, these aren't mutually exclusive ideas.

My suggestion is for users who want to display their goals throughout their site. I'm thinking more about the text spans since they are currently styled in a very unique way. If a user wanted to mention their goal within a paragraph of a post, things could get really messy.

[2015-09-16 23:52] #184 closed

[2015-09-16 23:53] DevinWalker opened #261 "Documentation: New Give Goals shortcode"
We need to write docs for this new shortcode before it's introduced in 1.3

[2015-09-16 23:53] DevinWalker commented on #258
#2 sounds good to me

[2015-09-17 00:07] DevinWalker opened #263 "Add ability to delete all test transactions"
Many users have expressed the need to clear test transactions from their install. We should add a button

- [x] Add option to new bulk actions under Reports > Tools
- [x] Button warns user prior to execution
- [x] Develop logic to delete all test transactions
- [x] Clear all report transients on success

[2015-09-17 00:58] DevinWalker opened #264 "Server side validation errors don't reopen modal or slide down panel"
_Scenario:_ If a user attempts to donate using a Give form in modal view and there is an error returned back from the payment gateway

_Problem:_ The user has no idea the error occurred without clicking back into the modal

![9-16-2015 5-53-48 pm](https://cloud.githubusercontent.com/assets/1571635/9922375/7ea433a6-5c9c-11e5-8c5e-bcb4e90e07b5.png)
![9-16-2015 5-53-42 pm](https://cloud.githubusercon

[2015-09-17 01:30] DevinWalker commented on #212
OK just took another look at this and fixed the issue with custom amounts

[2015-09-17 01:38] #212 closed

[2015-09-17 02:36] DevinWalker commented on #237
Bumping this from 1.3

[2015-09-17 02:51] DevinWalker commented on #213
I'd rather keep this within a snippet. I don't think *all* "Canadians don't use a thousands separator at all". See: https://en.wikipedia.org/wiki/Decimal_mark - specifically "Canada"

I think the snippet will suffice. We need to add this to docs. EDD/Woo allows the field to be blank but still fallback to either "," or "."

[2015-09-17 02:52] DevinWalker commented on #213
Clearing milestone and assigning to @mathetos to update Give's docs with snippet provided.

[2015-09-17 04:05] DevinWalker commented on #83
Hate to do this... but I gotta push this milestone again.

[2015-09-17 05:13] pryley commented on #264
Related: Perhaps it would be helpful to perform additional initial cc validation (cvv/exp/name) on the client side using the stripe.payments script.

Another thing I've noticed on server validation is when actionable errors are returned, it blanks out the entire form so you have to re-enter everything again.

[2015-09-17 05:32] DevinWalker commented on #264
I noticed the same issue with blanking fields. That can be annoying for users. I agree we need some client side validation. Is stripe payments script you mentioned something specific only to the Stripe gateway or can that be used cross-gateway?

[2015-09-17 05:33] #249 closed

[2015-09-17 05:34] DevinWalker commented on #264
Bumping milestone...

[2015-09-17 06:06] pryley commented on #264
Oh, I meant the jquery.payment script (it's by the stripe team) that Give uses to validate the CC number also offers basic validation logic for cvc and expiry.

E.g. http://stripe.github.io/jquery.payment/example/

[2015-09-17 17:10] mathetos opened #265 "Norwegian Kroner Not Showing"
See here: https://givewp.com/support/ticket/how-to-change-the-currency-sign/?instance=1

Verified locally.

[2015-09-17 19:52] #265 closed

[2015-09-17 20:46] DevinWalker commented on #264
Gotcha

[2015-09-17 23:10] DevinWalker commented on #210
Ok this is ready for testing @mathetos https://github.com/WordImpress/Give/tree/issue/210

It's working nicely for me.

[2015-09-17 23:31] evok3d commented on #218
Has anyone been able to resolve this issue? I am having the same problem and really dont want to have a static address for people to donate to.

[2015-09-17 23:34] DevinWalker commented on #218
@evok3d yes. It's been resolved. They have a PR in waiting here: https://github.com/pantheon-systems/wp-native-php-sessions/pull/17

They are looking for testers... perhaps you could help them out? I've tested and it's working on my end. I think they're just looking for more confirmation prior to rolling out the new version.

[2015-09-17 23:38] DevinWalker commented on #218
Once https://github.com/pantheon-systems/wp-native-php-sessions/pull/17 is merged and released I'll close out this issue.

[2015-09-18 00:10] mathetos opened #267 "[give_receipt] attributes do not work as expected"
The following attributes do not work as expected. They each show on the receipt regardless of adding them as true/false

- [x] price
- [x] date
- [x] payment_key
- [x] payment_method
- [x] payment_id

[2015-09-18 00:12] mathetos commented on #267
Tested locally, on latest from Github (not repo version 1.2). Did a test donation to view receipt. Changed the attributes then did another test donation. All while logged in. Didn't test from the email receipt link.

[2015-09-18 15:25] BurlesonBrad commented on #180
@DevinWalker @mathetos Did I not send y'all the login?
Seriously, y'all shouldn't have to spend a ton of time setting up the environment just to test it!
DRY!  ~or~ You can't replace time!
(either way, go spend time being awesome, b/c everything you need is already set up and waiting) :+1:

Multisite | WildCard SSL | Run betas if needed | Run extensions through it | Test, Tweak, Twerk

I'll send t

[2015-09-18 15:27] mathetos commented on #180
Yep, we're all set actually. Keep us posted if that environment is no longer available. Thanks!

[2015-09-18 15:33] BurlesonBrad commented on #180
Hosting, WildCard, EDD Licenses, .............yadda yadda ....all paid up for a year.
I don't really even want the headache of either the site nor the plugin anymore so....
![havefunstorminthecastle](https://cloud.githubusercontent.com/assets/6208757/9963402/b25538bc-5df0-11e5-971e-d1944294d173.gif)

[2015-09-18 16:49] DevinWalker commented on #180
lol @BurlesonBrad :+1: love that movie

[2015-09-20 18:24] DevinWalker opened #269 "Change the ajax loader from "Updating Price" to "Updating Amount""
An attendee at WCLV noticed the update text isn't that accurate and sounds more like you're buying a physical good. Rather than providing a snippet I suggested we just roll this into 1.3 for tomorrow.

[2015-09-20 20:03] RaDragon commented on #269
Fantastic response. Thanks.

[2015-09-21 18:40] DevinWalker commented on #261
@mathetos you wrote this already right?

[2015-09-21 18:44] #210 closed

[2015-09-21 19:01] #269 closed

[2015-09-21 21:31] mathetos commented on #261
Yep: https://givewp.com/documentation/core/shortcodes/give_goal/

[2015-09-21 21:31] #261 closed

[2015-09-22 17:25] DevinWalker commented on #264
Reported here as well: https://givewp.com/support/ticket/reveal-upon-click-modal-window-upon-click-hide-errors/#post-5231

[2015-09-22 17:26] DevinWalker commented on #264
@pryley  "Perhaps it would be helpful to perform additional initial cc validation (cvv/exp/name) on the client side using the stripe.payments script."
- I totally agree...

[2015-09-22 20:05] mathetos opened #270 "Stripe floating label is undefined"
With floating labels on, and Stripe the YEAR field is "undefined"

![stripe-floating-label-undefined](https://cloud.githubusercontent.com/assets/930724/10030069/9bccfffc-612a-11e5-9ad0-b357cb83d473.png)

[2015-09-22 22:07] DevinWalker opened #271 "Floating Labels Get Messed Up with Multiple Donation Forms on a Single Page"
When multiple forms are on a single page the floating labels get messed up.
![9-22-2015 3-06-33 pm](https://cloud.githubusercontent.com/assets/1571635/10033009/933148b0-613b-11e5-8c56-4e76c3cb1c04.png)
![9-22-2015 3-06-25 pm](https://cloud.githubusercontent.com/assets/1571635/10033010/9331a152-613b-11e5-9561-9893231badb2.png)

[2015-09-22 22:08] DevinWalker opened #272 "Floating Labels Clashing with Custom Fields"
When a field is added programatically it appears the floating labels is not working properly. See this textarea I added:

![9-22-2015 3-06-44 pm](https://cloud.githubusercontent.com/assets/1571635/10033040/bad969d8-613b-11e5-87d2-a9700bd0b6b1.png)

[2015-09-22 22:35] DevinWalker commented on #271
@pryley would you mind taking a look at this? We can't ship the floating labels without support for textareas, select fields, and multiple forms embedded on a single page.

[2015-09-22 22:44] DevinWalker commented on #271
It appears it's working for select fields for the most part. I only see them doubling up with multiple per page. Textareas seem not to work though...

[2015-09-22 22:45] DevinWalker commented on #271
https://github.com/geminilabs/float-labels.js/issues/1

[2015-09-22 22:48] DevinWalker commented on #270
This is fixed in the latest version of Stripe (1.1)

[2015-09-22 22:48] #270 closed

[2015-09-23 05:51] pryley commented on #271
having a look now

[2015-09-23 05:53] DevinWalker commented on #271
Cool, LMK if you have any questions... I'll be on for another hour or so...

[2015-09-23 06:04] pryley commented on #271
@DevinWalker I'm guessing this is with the Form Field Manager plugin.
Do you use Slack?

[2015-09-23 06:14] DevinWalker commented on #271
Yeah I do... want an invite to our team?

[2015-09-23 06:18] pryley commented on #271
Yes please. Also I had a quick look:
When multiple forms are on the same page, the labels are all repeated on the last form. This is because form element IDs are being duplicated. IDs should always be unique.

[2015-09-23 06:19] DevinWalker commented on #271
Are they being duplicated?! I didn't notice that... we don't want that.

[2015-09-23 06:19] pryley commented on #271
IDs should probably be suffixed by the form_id, and some logic added to allow for it.

[2015-09-23 06:33] pryley commented on #271
Floatlabels uses the element ID to locate the label it is bound to. If it can't find an ID, it checks the name as sometimes people write incorrect form structure (although maybe it should just skip the element by default if there is no ID/label pair).

[2015-09-23 06:54] pryley commented on #272
https://github.com/geminilabs/float-labels.js/issues/1#issuecomment-142511445

[2015-09-23 07:49] pryley commented on #271
I've updated float-labels to v1.0.6 (skip a form element if related label is not found, adjusted SCSS variables).
Run `bower update` and then `gulp`.

[2015-09-23 16:39] DevinWalker commented on #271
Thanks I'll update now

[2015-09-23 18:20] DevinWalker opened #273 "Floating Labels Not Working with CC Masking"
When floating labels are turned on the Credit Card masking fields are now working as expected:

![9-23-2015 11-19-27 am](https://cloud.githubusercontent.com/assets/1571635/10054256/129f6056-61e5-11e5-98c7-157ccf7b79c9.png)

[2015-09-23 18:22] DevinWalker commented on #271
Just updated and am still seeing the issue with duplicate floating labels

[2015-09-23 18:23] DevinWalker commented on #85
This was fixed with the merge of #210

[2015-09-23 18:23] #85 closed

[2015-09-23 18:31] DevinWalker commented on #180
@mathetos is this ready to be closed?

[2015-09-23 18:40] mathetos commented on #180
Yep. Good to go for now.

[2015-09-23 18:40] #180 closed

[2015-09-23 21:14] DevinWalker opened #274 "Email Previews & Add-on Specific Email Tags Don't Display"
**Scenario:** A user purchases the Give PDF add-on which adds the {pdf_receipt} email tag and then attempts to preview the email.

**Problem:** The email preview only outputs the tag and therefore the user thinks the plugin doesn't work unless they actually test out the functionality themselves by running a test donation - hardly idea.

**Spawned from:** https://givewp.com/support/ticket/pdf-recei

[2015-09-24 07:45] pryley commented on #273
This has to do with the jquery.payments script ... although it's not really an issue as the number you typed is not recognised as a valid CC number so it is not formatted as such.

Try typing in any of the following CC numbers: https://stripe.com/docs/testing#cards

[2015-09-24 07:52] pryley commented on #273
![image](https://cloud.githubusercontent.com/assets/134939/10068031/4fb247b0-62cb-11e5-8ae7-ddfb63fe2286.png)

![image](https://cloud.githubusercontent.com/assets/134939/10068038/5ea0de8a-62cb-11e5-8cbc-25849b956837.png)

I'm not sure what is happening with the Expiration field as I am not able to replicate that.

[code]

[2015-09-24 14:40] pryley commented on #272
This is happening because the textarea has no placeholder.

This is fixed in float-labels.js [v1.0.7](https://github.com/geminilabs/float-labels.js#changelog)

I also made some changes in the give scripts, will do a pull request shortly.

[2015-09-24 14:42] pryley commented on #271
https://github.com/WordImpress/Give/issues/272#issuecomment-142949254

[2015-09-28 18:26] mathetos opened #276 "Ability to Adjust Payment Gateway Order Easily"
It would be useful to allow users to designate the order by which the payment gateways appear on their donation forms. Currently, it seems all premium Gateways are always put behind the default gateways. Of course, allowing to choose the default gateway is helpful, it's still relatively odd to put "PayPal Pro" at the very end of the list and enabled as the default.

Related ticket: https://givewp.

[2015-09-28 18:27] mathetos commented on #276
I didn't see an easy way to use a filter for this, but I assume we'd have to add some kind of sorting logic to the `give_get_enabled_payment_gateways()` function.

[2015-09-29 17:27] #271 closed

[2015-09-29 17:30] DevinWalker commented on #273
Nevermind the expiration field. It's working as expected. I thought it only was supposed to allow 2 digits for the year but it actually allows for 4. Thanks!

Fixed with https://github.com/WordImpress/Give/pull/275

[2015-09-29 17:30] #273 closed

[2015-09-29 18:13] DevinWalker commented on #272
Fixed by @pryley https://github.com/WordImpress/Give/issues/275

[2015-09-29 18:13] #272 closed

[2015-09-29 18:14] DevinWalker commented on #175
Agreed

[2015-09-29 19:39] DevinWalker opened #277 "Prefix stats transient cache keys"
This will help in the future for more sane queries and it's best practice to prefix.

[2015-09-29 20:25] DevinWalker commented on #218
Closing this one out since the ball is in their court to push to wp.org now

[2015-09-29 20:25] #218 closed

[2015-09-29 20:35] DevinWalker opened #278 "Conditional floating labels not respecting switching payment gateways"
**Scenario:** A user has floating labels enabled globally, but disables them for a specific form:

![9-29-2015 1-29-54 pm](https://cloud.githubusercontent.com/assets/1571635/10177321/69ea0ae6-66ae-11e5-9d6c-dfb6dd17c544.png)

**Problem:** When the page first loads the gateway respects the disabled floating labels option, but when the user switches gateways kablamo (as @mathetos would say)! Floatin

[2015-09-29 20:38] DevinWalker opened #279 "Shortcodes not outputting properly on page"
Nothing is appearing when I attempt to output `give_login` and the new goals shortcode.

[2015-09-29 20:39] DevinWalker commented on #279
Goal isn't outputting on single forms also -
![9-29-2015 1-39-25 pm](https://cloud.githubusercontent.com/assets/1571635/10177550/8c91c6c8-66af-11e5-89b6-877b3f601694.png)

[2015-09-29 20:48] mathetos commented on #278
Actually, this is happening even if you disable the Global setting AND disable it directly in the form as well. So, something about switching the payment gateway is triggering the Floating Labels to be applied after switching.

[2015-09-29 20:50] DevinWalker commented on #279
fadd80d29cd5463a193aa7d891e3e1bbf356aacf

[2015-09-29 22:08] DevinWalker commented on #279
Fixed as of latest commits

[2015-09-29 22:08] #279 closed

[2015-09-29 22:46] DevinWalker opened #280 "Salient theme wrapper fixes"
Ensure single give forms look good with the TF theme "Salient"

[2015-09-29 22:51] DevinWalker commented on #280
Fixed as of cdf8ddc61e0f60fba5952cdb21cbacc3b79e155a

[2015-09-29 22:51] #280 closed

[2015-09-30 03:11] DevinWalker opened #281 "Design and develop new donation form creation UI"
The metaboxes are starting to get a bit unwieldy causing users to scroll further and further down the page. I propose customizing the metaboxes on the Give Forms single admin pages with tab functionality like so:

![give-admin-form-metabox-tabs](https://cloud.githubusercontent.com/assets/1571635/10183587/3346d4b4-66e6-11e5-8d69-6fcc8e4b746a.jpg)

Thoughts?

[2015-09-30 03:21] mathetos commented on #281
Here's all my thoughts:

* **PRO** Looks really clean, and I really like less clutter on the page
* **PRO** It feels more designed at the user directly, rather than a bunch of fields on a page
* **CON** Potential for JS conflicts with themes or other plugins that don't play nice
* **QUESTION** Is it so different that users will be confused, or have a negative reaction?
* **QUESTION** Will it be an

[2015-09-30 03:33] DevinWalker commented on #281
Thanks for your responses @mathetos - here's my responses:

1. Agree
2. Agree
3. Yes, possibly - if a theme or plugin adds metaboxes to the single give_forms cpt then they would display below the tabbed metaboxes - I don't suspect JS issues other than metaboxes falling below. Possibly some crazy themes could display them above, but that's already the case then now.
4. Yes, I believe but requires t

[2015-09-30 03:39] mathetos commented on #281
We might also need to re-visit the categorization or labelling. Not sure "Terms & Conditions" needs an entire tab dedicated to that.

[2015-09-30 04:34] DevinWalker commented on #281
@pryley I would love to hear your thoughts too

[2015-09-30 04:36] DevinWalker commented on #281
@mathetos yeah totally... I thought that too. Seems like we can fold that under another tab/metabox

[2015-09-30 05:09] kevinwhoffman commented on #281
I'll leave feedback in two scenarios as I think the tabs affect form creation and form editing in different ways.

**Form Creation:** Your existing form creation screen is clear and I don't believe it's too long by default. Scrolling vertically through the fields results in a logical progression that takes you from beginning to end in a way that mimics the front-end user experience, which is a goo

[2015-09-30 05:57] pryley commented on #281
I like the concept of tabs, but here are my reservations:

1. Having a tab per meta-box is potentially a bad idea when using smaller screens/devices, and especially if there are not many options in the meta-box.
2. Making a user click a tab to change a setting is an additional step, so from a UX point of view it could be considered counter-intuitive.
3. Non-standard UI

I agree with @mathetos abou

[2015-09-30 06:02] DevinWalker commented on #281
@kevinwhoffman @pryley you both have given us much food for thought. I'm glad you're in the discussion. We will review each consideration in detail and hopefully come to a logical conclusion together.

[2015-09-30 06:13] #278 closed

[2015-09-30 07:38] ibndawood commented on #281
Hey @mathetos and @DevinWalker , thanks for asking !

Only just last week I was thinking about the number of metaboxes that Give form has and I was looking into other popular plugins for ideas. Here is how it looks like in WooCommerce:

![image](https://cloud.githubusercontent.com/assets/179533/10186644/3e45f89c-6770-11e5-9630-3d8559767d75.png)

Here are my thoughts:

* Vertical tabs allow add-ons

[2015-09-30 16:08] pryley commented on #281
Here's an example of what it could look like as a single meta-box with a bit of styling, and using drag-and-drop to rearrange the multi-level donation amounts.

As @ibndawood suggested, you could move each field description to a tooltip.

You could easily have the layout change on mobile to show the fields full-width with the labels above the fields and the tooltip text showing as a description un

[2015-09-30 16:28] paaljoachim opened #283 "Removing addon and then adding same addon bug?"
Hey

I am on Chrome.
I just now added Stripe to the cart and then removed it again. I then tried adding it again, but the page only says checkout and I am not able to add it my shopping cart...

![skjermbilde 2015-09-30 kl 12 28 12 pm](https://cloud.githubusercontent.com/assets/5323259/10199440/be9bf7e6-676e-11e5-99ad-fc20f14532b3.png)

[2015-09-30 16:30] paaljoachim opened #284 "Where is the shopping cart?"
Hey

Ok I go to add an addon and add it to the cart. I go to another place on the web site and it seems the only way to get back to the shopping cart is by selecting an addon and then clicking the cart on the addon page. The shopping cart needs to be in general more visible on the site.

[2015-09-30 16:32] DevinWalker commented on #284
Oh on our Give site? That's a good point!

[2015-09-30 16:32] mathetos commented on #283
Hay Paal, please use our Contact Form on our website. This Repo is not for our website, but for building and developing the Give plugin. Thanks!

[2015-09-30 16:32] #283 closed

[2015-09-30 16:33] paaljoachim opened #285 "Purchase confirmation?"
I tried purchasing the Stripe addon with the code that I have. The code worked but clicking purchase using Paypal the button spun for a moment and nothing else happened.
I missed having a confirmation message coming up....

Not sure what is going on here...

[2015-09-30 16:37] paaljoachim commented on #284
Yup...:)

[2015-09-30 16:39] DevinWalker commented on #281
Wow these are looking really nice. Thanks for taking the time @pryley to comp that up. I like the subtle branding and the cleaner layouts with the descriptions in a tooltip. My only fear is for the Multi-Level Donation options fields that when we release recurring donations it's going to get smooshed real bad with the added fields. The dropdown instead of tabs is compelling also... I fear that som

[2015-09-30 16:42] paaljoachim opened #286 "Adding donation area below the content of every post?"
Hey

I know that I can add the shortcode to a post and have the donation section show there, but can I add the donation section to the bottom of each post below the content (as if I was adding a shortcode to each post)?

Have a great day!

[2015-09-30 16:45] mathetos commented on #281
I think we've got TONS of information here now. But not a lot of direction. I think I'll put together an internal document for now and we'll circle back with a new suggestion that takes all these ideas and comments in mind.

Like I mentioned previously, each feature of this new UI should benefit 80% of users or more, or we shouldn't do it. So I think a spreadsheet of features of the UI with Pro's

[2015-09-30 16:45] DevinWalker commented on #285
I just tested and it worked fine for me. What browser are you using?

[2015-09-30 16:47] DevinWalker commented on #281
@mathetos I'd still like to hear from @pippinsplugins when he has a moment.

[2015-09-30 16:55] paaljoachim commented on #285
Chrome. I sent you and Matt an e-mail that also includes a video. So that we can move the discussion over to e-mail instead. It might just be my computer and Chrome being weird today....

[2015-09-30 17:00] #285 closed

[2015-09-30 17:00] #284 closed

[2015-09-30 17:03] mathetos commented on #286
You can use WordPress' `do_shortcode()` function and add it to your `single.php` template file to add it dynamically to every single page/post. If you want it to ONLY appear on posts you'd have to wrap it in a IF statement like this:

`if ( is_singular('post') ) {
    echo do_shortcode('[give_form id="87"]');
}`

Thanks!

[2015-09-30 17:03] #286 closed

[2015-09-30 17:03] DevinWalker commented on #286
Hey @paaljoachim this is up to the theme to do this - you can achieve this multiple ways with Give out of the box - such as with a widget or the shortcode, as you reference. A lot of themes have widgetized footers, so that's one option. Or, you could easily append a shortcode at the bottom of `post.php` or `page.php` in your theme directory.

I don't think this is the plugins territory though.

[2015-09-30 17:07] paaljoachim commented on #286
Thanks guys!
Btw Add the code to the Give docs so others can also learn how to do this as well.
Thanks again.

[2015-09-30 17:13] DevinWalker opened #287 "Fix broken welcome screen columns"
Looks like WordPress updated some styles and broke our columns! Grrr.

[2015-09-30 17:21] #287 closed

[2015-09-30 19:19] DevinWalker opened #288 "array_column() PHP 5.5 function used"
Unfortunately, we can't this function as it's going to cause issues with folks running older version of PHP http://php.net/manual/en/function.array-column.php ... which is a lot of people.

Fatal error: Call to undefined function array_column() in /home/givewp/public_html/wp-content/plugins/give/includes/admin/shortcodes/abstract-shortcode-generator.php on line 150

[2015-09-30 19:31] #288 closed

[2015-09-30 19:35] DevinWalker opened #289 "wpmail conflict with Mandrill"
For some reason we're making Mandrill mad now... this needs to be investigated and provided a hotfix if it's our doing:

![9-30-2015 12-28-34 pm](https://cloud.githubusercontent.com/assets/1571635/10204294/c4388b0a-676f-11e5-9779-00760bfe6aeb.png)

[2015-09-30 20:58] DevinWalker opened #290 "Remove usage PHP 5.4+ bracket array declarations"
Unfortunately, we can't declare arrays using bracket notation because many folks use PHP 5.3 for WordPress. @pryley please take note.

[code]

http://php.net/manual/en/language.types.array.php

Reported here: https://givewp.com/support/ticket/v1-3-breaks-wp-mail-function/#post-5533

User is on PHP 5.3.3

[2015-09-30 21:00] mathetos commented on #290
Nice catch Devin. I wish we could follow the trend like other WP Plugins and just support 5.4+, but many non-profits are on older systems and we don't have enough general adoption yet to be strict on that.

[2015-09-30 21:01] #290 closed

[2015-09-30 21:36] DevinWalker opened #291 "PHP 5.2 Issue with anonymous function / Closure used in new shortcode generator"
The problem is that folks using PHP 5.2 can't have fancy stuff... Unfortunately, a lot of people are using that oldddd version so we have to fix this: https://github.com/WordImpress/Give/blob/1.3/includes/admin/shortcodes/abstract-shortcode-generator.php#L304

[2015-09-30 22:06] DevinWalker opened #292 "Offline Donations Gateway Needs Documentation"
There's no docs and some people are confused at how exactly it works:

**Needs Docs**: https://givewp.com/documentation/

**Reported From**: https://wordpress.org/support/topic/is-there-a-way-to-include-offline-donations?replies=4#post-7490816

[2015-09-30 22:18] DevinWalker commented on #289
For some reason it's related to the shortcode generator - removing those file includes fixes the mandrill conflict

[2015-09-30 22:24] DevinWalker commented on #289
Ok so I've narrowed it down to something in https://github.com/WordImpress/Give/blob/master/includes/admin/shortcodes/shortcode-give-donation-history.php and https://github.com/WordImpress/Give/blob/master/includes/admin/shortcodes/shortcode-give-goal.php

[2015-09-30 22:52] #289 closed

[2015-09-30 22:53] DevinWalker commented on #289
OK so the issue was actually having to do with the priority which the shortcode generator was intialized. I've customized it a bit so we don't butt heads with wpMandrill anymore - @pryley take a look at this changeset if you can and LMK if you have any better ideas... this is working fine though as it is... just not as clean as before.

[2015-10-01 00:03] mathetos commented on #292
We actually don't have docs for ANY of the Core payment gateways. So I created a parent page for all of them to have their own article underneath. And "Offline" is there already:

https://givewp.com/documentation/core/payment-gateways/

[2015-10-01 00:03] #292 closed

[2015-10-01 00:21] mathetos opened #293 "The label for the "Transaction Types" just says "PayPal" right now. It should say "PayPal Transaction Type"."
The label for the "Transaction Types" just says "PayPal" right now. It should say "PayPal Transaction Type".

![paypal-transaction-types](https://cloud.githubusercontent.com/assets/930724/10210089/8220054a-6797-11e5-878a-5aca8e8a9029.jpg)

[2015-10-01 04:48] pryley commented on #291
PHP 5.2? yikes!

[2015-10-01 04:51] DevinWalker commented on #291
@pryley yeah man... so many crappy hosting companies still setup WordPress on it. We should have not allowed that when we launched. There's not much we can do about it now.

[2015-10-01 04:51] DevinWalker commented on #291
This is fixed though so no worries on it.

[2015-10-01 04:51] #291 closed

[2015-10-01 05:02] pryley commented on #290
Oops! Muscle memory...thought I had caught of of them.

[2015-10-01 05:14] DevinWalker commented on #290
I mean... it's unfortunate we can't use some of PHP better syntax but that's the nature of the beast.

[2015-10-01 11:10] farookibrahim opened #294 "Form Contents does not show in Single Form"
![image](https://cloud.githubusercontent.com/assets/10401366/10219247/ed45ed3a-685a-11e5-8c68-8451e1672452.png)

![image](https://cloud.githubusercontent.com/assets/10401366/10219261/059d9054-685b-11e5-8daa-5a1d48d95520.png)

[2015-10-01 15:34] pryley commented on #294
I got this.
It was introduced with the shortcode attributes feature because I neglected to test the single-forms (they were disabled in options), only the widgets and pages with a form shortcode.

[2015-10-01 16:39] #294 closed

[2015-10-01 20:04] mathetos opened #299 "Receipts Need More Details Specifically for Canadian Receipt Requirements"
This is also relevant for PDF Receipts, but we have some users who really need more detailed info on the receipts in order for their donors to have an official tax-deductible receipt. Specifically, this is the guideline for Canada:

http://www.cra-arc.gc.ca/chrts-gvng/chrts/prtng/rcpts/whtnf-eng.html

Since we don't require the donor address, the receipts by default wouldn't work for Canadian dono

[2015-10-01 20:05] mathetos commented on #299
Here's also a sample receipt:

http://www.cra-arc.gc.ca/chrts-gvng/chrts/pbs/rcpts-eng.html

[2015-10-03 01:38] justyn-clark opened #300 "Latest update reintroduced a previous bug"
I attempted to update to the newest Give version and it broke the WP backend. I attempted to activate the previous version and got the attached error.

<img width="1237" alt="screen shot 2015-10-02 at 11 15 33 am" src="https://cloud.githubusercontent.com/assets/11221796/10260853/19bfca6e-6934-11e5-998a-b67842b3c7cb.png">

I was able to temporarily fix the bug by replacing the abstract-shortcode-ge

[2015-10-05 17:20] DevinWalker opened #301 "Add new filter for default form amount"
Some users may not want a default form amount and the only way to really adjust that is with a filter which we do not have right now. Requested from: https://wordpress.org/support/topic/make-custom-donation-amount-the-default-or-empty-field?replies=1#post-7507268